.cpsmi-container {
  min-height: 100vh;
}

.cpsmi-uangleright1 {
  width: 20px;
  height: 20px;
  position: relative;
  box-sizing: border-box;
  margin-right: 0px;
  margin-bottom: 0;
}

.cpsmi-button2 {
  height: 40px;
  display: flex;
  padding: 10px 8px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  justify-content: center;
}

.cpsmi-text04 {
  color: var(--dl-color-orange-orange500);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 30px;
  margin-right: 0;
  margin-bottom: 0;
}

.cpsmi-frame271 {
  top: 28px;
  left: 948px;
  width: 32px;
  height: 32px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 32px;
  margin-bottom: 0;
  background-color: var(--dl-color-orange-orange50);
}

.cpsmi-vuesaxboldnotification {
  top: 6px;
  left: 6px;
  width: 20px;
  height: 20px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}

.cpsmi-vuesaxboldnotification1 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.cpsmi-notification {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.cpsmi-vector {
  top: 1.6666667461395264px;
  left: 3.592170238494873px;
  width: 13px;
  height: 14px;
  position: absolute;
  box-sizing: border-box;
}

.cpsmi-vector01 {
  top: 16.66666603088379px;
  left: 7.65000057220459px;
  width: 5px;
  height: 2px;
  position: absolute;
  box-sizing: border-box;
}

.cpsmi-text10 {
  top: 104px;
  left: 224px;
  color: var(--dl-color-orange-orange500);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 36px;
  margin-right: 0;
  margin-bottom: 0;
}

.cpsmi-frame624726 {
  top: 164px;
  left: 224px;
  width: 1192px;
  height: 604px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 2px 2px 8px 0px rgba(232, 239, 244, 0.800000011920929);
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 16px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-white);
}

.cpsmi-text26 {
  top: 24px;
  left: 460px;
  color: var(--dl-color-orange-orange500);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 48px;
  margin-right: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 40px;
}

.cpsmi-text28 {
  top: 92px;
  left: 464px;
  color: var(--dl-color-gray-gray400text);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 30px;
  margin-right: 0;
  margin-bottom: 0;
}

.cpsmi-dropdown {
  top: 134px;
  left: 396px;
  width: 400px;
  height: 44px;
  display: flex;
  padding: 10px 12px;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(212, 212, 215, 1);
  border-style: solid;
  border-width: 1.5px;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  justify-content: space-between;
  background-color: var(--dl-color-default-white);
}

.cpsmi-text30 {
  color: var(--dl-color-gray-gray200placeholder);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
}

.cpsmi-frame624757 {
  top: 258px;
  left: 465px;
  width: 262px;
  height: 48px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}

.cpsmi-frame624750 {
  top: 0px;
  left: 0px;
  width: 262px;
  height: 48px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}

.cpsmi-button3 {
  top: 0px;
  left: 147px;
  width: 115px;
  height: 48px;
  display: flex;
  padding: 10px 24px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 6px 0px rgba(231, 233, 242, 1);
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  justify-content: center;
  background-color: var(--dl-color-orange-orange400);
}

.cpsmi-text32 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Nunito;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.cpsmi-button4 {
  top: 0px;
  left: 0px;
  width: 115px;
  height: 48px;
  display: flex;
  padding: 10px 24px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 6px 0px rgba(231, 233, 242, 1);
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 145, 56, 1);
  border-style: solid;
  border-width: 1.5px;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  justify-content: center;
  background-color: var(--dl-color-orange-orange50);
}

.cpsmi-text34 {
  color: var(--dl-color-orange-orange400);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Nunito;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.chitietcapso-container {
  min-height: 100vh;
}

.chitietcapso-text {
  top: 104px;
  left: 232px;
  color: var(--dl-color-orange-orange500);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 36px;
  margin-right: 0;
  margin-bottom: 0;
}

.chitietcapso-uangleright1 {
  width: 20px;
  height: 20px;
  position: relative;
  box-sizing: border-box;
  margin-right: 0px;
  margin-bottom: 0;
}

.chitietcapso-button2 {
  height: 40px;
  display: flex;
  padding: 10px 8px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  justify-content: center;
}

.chitietcapso-text06 {
  color: var(--dl-color-orange-orange500);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 30px;
  margin-right: 0;
  margin-bottom: 0;
}

.chitietcapso-frame271 {
  top: 28px;
  left: 948px;
  width: 32px;
  height: 32px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 32px;
  margin-bottom: 0;
  background-color: var(--dl-color-orange-orange50);
}

.chitietcapso-vuesaxboldnotification {
  top: 6px;
  left: 6px;
  width: 20px;
  height: 20px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}

.chitietcapso-vuesaxboldnotification1 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.chitietcapso-notification {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.chitietcapso-vector {
  top: 1.6666667461395264px;
  left: 3.592170238494873px;
  width: 13px;
  height: 14px;
  position: absolute;
  box-sizing: border-box;
}

.chitietcapso-vector01 {
  top: 16.66666603088379px;
  left: 7.65000057220459px;
  width: 5px;
  height: 2px;
  position: absolute;
  box-sizing: border-box;
}

.chitietcapso-frame624726 {
  top: 164px;
  left: 224px;
  width: 1112px;
  height: 500px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 2px 2px 8px 0px rgba(104, 107, 109, 0.8);
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 16px;
  margin-bottom: 0;
}

.chitietcapso-group625226 {
  top: 66px;
  left: 24px;
  width: 845px;
  height: 184px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.chitietcapso-group625219 {
  top: 40px;
  left: 0px;
  width: 100%;
  height: 24px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.chitietcapso-text14 {
  color: var(--dl-color-gray-gray500);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
}

.chitietcapso-text16 {
  left: 126px;
  color: var(--dl-color-gray-gray400text);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
}

.chitietcapso-group625221 {
  top: 120px;
  left: 0px;
  width: 400px;
  height: 24px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.chitietcapso-text18 {
  color: var(--dl-color-gray-gray500);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
}

.chitietcapso-text20 {
  left: 126px;
  color: var(--dl-color-gray-gray400text);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
}

.chitietcapso-group625215 {
  top: 160px;
  left: 0px;
  width: 400px;
  height: 24px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.chitietcapso-text22 {
  color: var(--dl-color-gray-gray500);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
}

.chitietcapso-text24 {
  left: 126px;
  color: var(--dl-color-gray-gray400text);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
}

.chitietcapso-group625218 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 24px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}



.chitietcapso-text28 {
  left: 126px;
  color: var(--dl-color-gray-gray400text);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
}

.chitietcapso-group625220 {
  top: 80px;
  left: 0px;
  width: 194px;
  height: 24px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.chitietcapso-text30 {
  color: var(--dl-color-gray-gray500);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
}

.chitietcapso-text32 {
  left: 126px;
  color: var(--dl-color-gray-gray400text);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
}

.chitietcapso-group625224 {
  top: 80px;
  left: 544px;
  width: 219px;
  height: 24px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.chitietcapso-text34 {
  color: var(--dl-color-gray-gray500);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
}

.chitietcapso-text36 {
  left: 123px;
  color: var(--dl-color-gray-gray400text);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
}

.chitietcapso-group625225 {
  top: 120px;
  left: 544px;
  width: 301px;
  height: 24px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.chitietcapso-text38 {
  color: var(--dl-color-gray-gray500);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
}

.chitietcapso-text40 {
  left: 123px;
  color: var(--dl-color-gray-gray400text);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
}

.chitietcapso-group625222 {
  top: 0px;
  left: 544px;
  width: 300px;
  height: 24px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.chitietcapso-text42 {
  color: var(--dl-color-gray-gray500);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
}

.chitietcapso-text44 {
  left: 123px;
  color: var(--dl-color-gray-gray400text);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
}

.chitietcapso-group625223 {
  top: 40px;
  left: 544px;
  width: 300px;
  height: 24px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.chitietcapso-text46 {
  color: var(--dl-color-gray-gray500);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
}

.chitietcapso-statusdate {
  top: 0px;
  left: 123px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
  justify-content: center;
}

.chitietcapso-ellipse1 {
  width: 8px;
  height: 8px;
  position: relative;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 4px;
  margin-bottom: 0;
}

.chitietcapso-text48 {
  color: var(--dl-color-gray-gray400text);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 0;
}

.chitietcapso-component1 {
  top: 164px;
  left: 1360px;
  width: 80px;
  display: flex;
  padding: 12px 4px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 6px 0px rgba(231, 233, 242, 1);
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  margin-right: 0;
  border-radius: 8px 0 0 8px;
  margin-bottom: 0;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-orange-orange50);
}

.chitietcapso-vuesaxboldbacksquare {
  width: 28px;
  height: 28px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 15px;
  margin-bottom: 4px;
}

.chitietcapso-vuesaxboldbacksquare1 {
  top: 0px;
  left: 0px;
  width: 28px;
  height: 28px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.chitietcapso-backsquare {
  top: 0px;
  left: 0px;
  width: 28px;
  height: 28px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.chitietcapso-vector23 {
  top: 2.3333334922790527px;
  left: 2.3333334922790527px;
  width: 23px;
  height: 23px;
  position: absolute;
  box-sizing: border-box;
}

.chitietcapso-text64 {
  color: var(--dl-color-orange-orange500);
  width: 72px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.qunlcps-container {
  min-height: 100vh;
}

.qunlcps-vuesaxboldaddsquare {
  width: 28px;
  height: 28px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 4px;
}

.qunlcps-vuesaxboldaddsquare1 {
  top: 0px;
  left: 0px;
  width: 28px;
  height: 28px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.qunlcps-addsquare {
  top: 0px;
  left: 0px;
  width: 28px;
  height: 28px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.qunlcps-vector {
  top: 2.3333334922790527px;
  left: 2.3333334922790527px;
  width: 23px;
  height: 23px;
  position: absolute;
  box-sizing: border-box;
}

.qunlcps-text {
  color: var(--dl-color-orange-orange500);
  width: 72px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}


.qunlcps-button {
  height: 40px;
  display: flex;
  padding: 10px 8px 10px 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0px;
  border-radius: 8px;
  margin-bottom: 0;
  justify-content: center;
}

.qunlcps-text005 {
  color: var(--dl-color-grayblue-gray4placeholder);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 30px;
  margin-right: 0;
  margin-bottom: 0;
}

.qunlcps-uangleright {
  width: 20px;
  height: 20px;
  position: relative;
  box-sizing: border-box;
  margin-right: 0px;
  margin-bottom: 0;
}

.qunlcps-button1 {
  height: 40px;
  display: flex;
  padding: 10px 8px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  justify-content: center;
}

.qunlcps-text007 {
  color: var(--dl-color-orange-orange500);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 30px;
  margin-right: 0;
  margin-bottom: 0;
}

.qunlcps-frame271 {
  top: 28px;
  left: 948px;
  width: 32px;
  height: 32px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 32px;
  margin-bottom: 0;
  background-color: var(--dl-color-orange-orange50);
}

.qunlcps-vuesaxboldnotification {
  top: 6px;
  left: 6px;
  width: 20px;
  height: 20px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}

.qunlcps-vuesaxboldnotification1 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.qunlcps-notification {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.qunlcps-vector01 {
  top: 1.6666667461395264px;
  left: 3.592170238494873px;
  width: 13px;
  height: 14px;
  position: absolute;
  box-sizing: border-box;
}

.qunlcps-vector02 {
  top: 16.66666603088379px;
  left: 7.65000057220459px;
  width: 5px;
  height: 2px;
  position: absolute;
  box-sizing: border-box;
}

.qunlcps-text013 {
  top: 104px;
  left: 224px;
  color: var(--dl-color-orange-orange500);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 36px;
  margin-right: 0;
  margin-bottom: 0;
}

.qunlcps-group317 {
  top: 156px;
  left: 224px;
  width: 154px;
  height: 72px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
  font-weight: bold;
}

.qunlcps-dropdown {
  top: 28px;
  left: 0px;
  width: 154px;
  height: 44px;
  display: flex;
  padding: 10px 12px;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(212, 212, 215, 1);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 8px;
  justify-content: space-between;
  background-color: var(--dl-color-default-white);
}

.qunlcps-text015 {
  color: var(--dl-color-gray-gray400text);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  width: 100%;
}

.qunlcps-text017 {
  color: var(--dl-color-gray-gray500);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
}

.qunlcps-group319 {
  top: 156px;
  left: 402px;
  width: 154px;
  height: 72px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
  font-weight: bold;
}

.qunlcps-text021 {
  color: var(--dl-color-gray-gray500);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
}

.qunlcps-group318 {
  top: 156px;
  left: 1096px;
  width: 240px;
  height: 72px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
  font-weight: bold;
}

.qunlcps-input {
  top: 28px;
  left: 0px;
  width: 260px;
  height: 44px;
  display: flex;
  padding: 10px 16px 10px 12px;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(212, 212, 215, 1);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 8px;
  justify-content: space-between;
  background-color: var(--dl-color-default-white);
}

.qunlcps-text023 {
  color: var(--dl-color-gray-gray200placeholder);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.qunlcps-text025 {
  top: 1.8189894035458565e-12px;
  color: var(--dl-color-gray-gray500);
  width: 62px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
}

.qunlcps-group311 {
  top: 156px;
  left: 758px;
  width: 320px;
  height: 72px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
  font-weight: bold;
}

.qunlcps-datepicker {
  top: 28px;
  left: 0px;
  width: 320px;
  height: 44px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}

.qunlcps-datepicker1 {
  top: 0px;
  left: 0px;
  width: 150px;
  height: 44px;
  display: flex;
  padding: 8px 2px;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(212, 212, 215, 1);
  border-style: solid;
  border-width: 1.5px;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
}

.qunlcps-text027 {
  color: var(--dl-color-gray-gray200placeholder);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 0;
}

.qunlcps-datepicker2 {
  top: 0px;
  left: 170px;
  width: 150px;
  height: 44px;
  display: flex;
  padding: 8px 2px;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(212, 212, 215, 1);
  border-style: solid;
  border-width: 1.5px;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
}

.qunlcps-vuesaxboldarrowright {
  top: 17px;
  left: 154px;
  width: 12px;
  height: 10px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}

.qunlcps-vuesaxboldarrowright1 {
  top: 0px;
  left: 0px;
  width: 12px;
  height: 10px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.qunlcps-arrowright {
  top: 0px;
  left: 0px;
  width: 12px;
  height: 10px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.qunlcps-vector23 {
  top: 2.5px;
  left: 4px;
  width: 4px;
  height: 5px;
  position: absolute;
  box-sizing: border-box;
}

.qunlcps-text031 {
  left: 2.2737367544323206e-13px;
  color: var(--dl-color-gray-gray500);
  width: 150px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
}

.qunlcps-group3191 {
  top: 156px;
  left: 580px;
  width: 154px;
  height: 72px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
  font-weight: bold;
}

.qunlcps-text058 {
  color: var(--dl-color-gray-gray500);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
}

.qunlcps-frame624691 {
  padding: 0 17px;
  font-weight: bold;
  position: relative;
  align-self: stretch;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0px;
  background-color: var(--dl-color-orange-orange400);
}

.qunlcps-text060 {
  color: var(--dl-color-default-white);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 0;
}

.popupins-popupins {
  width: 100%;
  height: 400px;
  left: 15px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 469px;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 1);
}

.popupins-fix {
  top: 16px;
  left: 429px;
  width: 24px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}

.popupins-frame624776 {
  top: 275px;
  left: 0px;
  width: 469px;
  height: 110px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: var(--dl-color-orange-orange400);
}

.popupins-frame624778 {
  top: 16px;
  left: 67px;
  width: 335px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}

.popupins-text {
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 33px;
  margin-right: 8px;
  margin-bottom: 0;
}

.popupins-text02 {
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 33px;
  margin-right: 0;
  margin-bottom: 0;
}

.popupins-frame624779 {
  top: 61px;
  left: 67px;
  width: 335px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}

.popupins-text04 {
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 33px;
  margin-right: 16px;
  margin-bottom: 0;
}

.popupins-text06 {
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 33px;
  margin-right: 0;
  margin-bottom: 0;
}

.popupins-group625227 {
  top: 48px;
  left: 74px;
  width: 321px;
  height: 183px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.popupins-text08 {
  left: 21px;
  color: var(--dl-color-gray-gray400text);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 48px;
}

.popupins-text10 {
  top: 72px;
  left: 43px;
  color: var(--dl-color-orange-orange500);
  height: auto;
  position: absolute;
  font-size: 56px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Nunito;
  font-weight: 800;
  line-height: 60px;
  font-stretch: normal;
  text-decoration: none;
}

.popupins-text12 {
  top: 156px;
  color: var(--dl-color-gray-gray500);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: 27px;
  font-stretch: normal;
  text-decoration: none;
}

.popupins-text13 {
  font-weight: 400;
}