.dangnhap-container {
  min-height: 100vh;
}

/* The actual popup */

/* Popup arrow */

/* Toggle this class - hide and show the popup */

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.dangnhap-dangnhap {
  width: 100%;
  height: 810px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1440px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 16px;
  background-color: var(--dl-color-default-bg);
}

.dangnhap-rectangle496 {
  top: 0px;
  left: 592px;
  width: 848px;
  height: 810px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}

.dangnhap-frame {
  top: 100px;
  left: 600px;
  width: 711px;
  height: 560px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}

.dangnhap-frame624727 {
  top: 293px;
  left: 94px;
  width: 400px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
  justify-content: center;
}

.dangnhap-input {
  color: rgba(83, 82, 97, 1);
  width: 400px;
  top: 50px;
  height: 44px;
  padding: 10px 10px 10px 12px;
  font-size: 18px;
  box-sizing: border-box;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  font-family: Nunito;
  font-weight: 400;
  border-color: rgba(212, 212, 215, 1);
  border-style: solid;
  border-width: 1.5px;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-white);
}

.dangnhap-frame624728 {
  top: 384px;
  left: 94px;
  width: 400px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
  justify-content: center;
}

.dangnhap-text02 {
  color: rgba(55, 71, 79, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 27px;
  margin-right: 0;
  margin-bottom: 4px;
}

.dangnhap-ueyeslash {
  width: 20px;
  height: 20px;
  top: 425px;
  left: 455px;
  position: relative;
  box-sizing: border-box;
}

.dangnhap-text04 {
  top: 480px;
  left: 94px;
  color: var(--dl-color-default-red);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 21px;
  margin-right: 0;
  margin-bottom: 0;
}

.dangnhap-button {
  top: 511px;
  left: 215px;
  width: 162px;
  height: 40px;
  display: flex;
  padding: 10px 24px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 6px 0px rgba(231, 233, 242, 1);
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  justify-content: center;
  background-color: var(--dl-color-orange-orange400);
}

.dangnhap-text06 {
  color: var(--dl-color-default-white);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 0;
}

.dangnhap-logoalta {
  top: 82px;
  left: 208px;
  width: 170px;
  height: 136px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}

.dangnhap-group {
  top: 0px;
  left: 0.4792361855506897px;
  width: 169.52076721191406px;
  height: 135.95645141601562px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dangnhap-group001 {
  top: 108.35587310791016px;
  left: 76.39917755126953px;
  width: 88.72127532958984px;
  height: 27.600494384765625px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dangnhap-vector {
  top: 0px;
  left: 0px;
  width: 29px;
  height: 28px;
  position: absolute;
  box-sizing: border-box;
}

.dangnhap-vector001 {
  top: 3.3958933353424072px;
  left: 31.212297439575195px;
  width: 58px;
  height: 21px;
  position: absolute;
  box-sizing: border-box;
}

.dangnhap-group002 {
  top: 0px;
  left: 1.3070263862609863px;
  width: 168.21372985839844px;
  height: 112.92700958251953px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dangnhap-vector002 {
  top: 0px;
  left: 0px;
  width: 168px;
  height: 113px;
  position: absolute;
  box-sizing: border-box;
}

.dangnhap-vector003 {
  top: 34.522247314453125px;
  left: 64.95116424560547px;
  width: 86px;
  height: 39px;
  position: absolute;
  box-sizing: border-box;
}

.dangnhap-vector004 {
  top: 24.204946517944336px;
  left: 6.213022232055664px;
  width: 88px;
  height: 26px;
  position: absolute;
  box-sizing: border-box;
}

.dangnhap-group003 {
  top: 0px;
  left: 1.2488999366760254px;
  width: 168.27188110351562px;
  height: 112.92700958251953px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dangnhap-vector005 {
  top: 24.203346252441406px;
  left: 6.25676155090332px;
  width: 88px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
}

.dangnhap-vector006 {
  top: 0px;
  left: 0px;
  width: 168px;
  height: 113px;
  position: absolute;
  box-sizing: border-box;
}

.dangnhap-vector007 {
  top: 113.40589141845703px;
  left: 0.000003386905973457033px;
  width: 75px;
  height: 14px;
  position: absolute;
  box-sizing: border-box;
}

.dangnhap-vector008 {
  top: 113.40589141845703px;
  left: 0.000003386905973457033px;
  width: 75px;
  height: 14px;
  position: absolute;
  box-sizing: border-box;
}

.dangnhap-text08 {
  top: 407px;
  left: 1046px;
  color: var(--dl-color-orange-orange500);
  width: auto;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 51px;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 40px;
}

.dangnhap-text13 {
  top: 454px;
  left: 1046px;
  color: var(--dl-color-orange-orange500);
  width: auto;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 54px;
  margin-right: 0;
  margin-bottom: 0;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
}

.qunmtkhu-container {
  min-height: 100vh;
}

.qunmtkhu-qunmtkhu {
  width: 100%;
  height: 810px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1440px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 16px;
  background-color: var(--dl-color-default-bg);
}

.qunmtkhu-rectangle496 {
  top: 0px;
  left: 592px;
  width: 848px;
  height: 810px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}

.qunmtkhu-frame {
  top: 153px;
  left: 635px;
  width: 711px;
  height: 560px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}

.qunmtkhu-text {
  top: 320px;
  left: 198px;
  color: var(--dl-color-gray-gray500);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 33px;
  margin-right: 0;
  margin-bottom: 0;
}

.qunmtkhu-group323 {
  top: 365px;
  left: 94px;
  width: 400px;
  height: 75px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.qunmtkhu-text2 {
  color: rgba(55, 71, 79, 1);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 27px;
}

.qunmtkhu-input {
  top: 31px;
  left: 0px;
  width: 400px;
  height: 44px;
  display: flex;
  padding: 10px 16px 10px 12px;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(212, 212, 215, 1);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 8px;
  justify-content: space-between;
  background-color: var(--dl-color-default-white);
}

.qunmtkhu-frame624730 {
  top: 456px;
  left: 94px;
  width: 400px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
  justify-content: center;
}

.qunmtkhu-text4 {
  color: rgba(55, 71, 79, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 27px;
  margin-right: 0;
  margin-bottom: 4px;
}

.qunmtkhu-input1 {
  width: 400px;
  height: 44px;
  display: flex;
  padding: 10px 16px 10px 12px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(212, 212, 215, 1);
  border-style: solid;
  border-width: 1.5px;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  justify-content: space-between;
  background-color: var(--dl-color-default-white);
}

.qunmtkhu-button {
  top: 483px;
  left: 100px;
  width: 162px;
  height: 40px;
  display: flex;
  padding: 10px 24px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 6px 0px rgba(231, 233, 242, 1);
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  justify-content: center;
  background-color: var(--dl-color-orange-orange400);
}

.qunmtkhu-button2 {
  top: 560px;
  left: 200px;
  width: 162px;
  height: 40px;
  display: flex;
  padding: 10px 24px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 6px 0px rgba(231, 233, 242, 1);
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  justify-content: center;
  background-color: var(--dl-color-orange-orange400);
}

.qunmtkhu-text6 {
  color: var(--dl-color-default-white);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 0;
}

.qunmtkhu-logoalta {
  top: 82px;
  left: 208px;
  width: 170px;
  height: 136px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}

.qunmtkhu-group {
  top: 0px;
  left: 0.4792533814907074px;
  width: 169.52076721191406px;
  height: 135.95645141601562px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.qunmtkhu-group1 {
  top: 108.35587310791016px;
  left: 76.39915466308594px;
  width: 88.72127532958984px;
  height: 27.600494384765625px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.qunmtkhu-vector {
  top: 0px;
  left: 0px;
  width: 29px;
  height: 28px;
  position: absolute;
  box-sizing: border-box;
}

.qunmtkhu-vector1 {
  top: 3.3958933353424072px;
  left: 31.21227264404297px;
  width: 58px;
  height: 21px;
  position: absolute;
  box-sizing: border-box;
}

.qunmtkhu-group2 {
  top: 0px;
  left: 1.3070236444473267px;
  width: 168.21372985839844px;
  height: 112.92700958251953px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.qunmtkhu-vector2 {
  top: 0px;
  left: 0px;
  width: 168px;
  height: 113px;
  position: absolute;
  box-sizing: border-box;
}

.qunmtkhu-vector3 {
  top: 34.522247314453125px;
  left: 64.95108032226562px;
  width: 86px;
  height: 39px;
  position: absolute;
  box-sizing: border-box;
}

.qunmtkhu-vector4 {
  top: 24.204946517944336px;
  left: 6.21293306350708px;
  width: 88px;
  height: 26px;
  position: absolute;
  box-sizing: border-box;
}

.qunmtkhu-group3 {
  top: 0px;
  left: 1.2489049434661865px;
  width: 168.27188110351562px;
  height: 112.92700958251953px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.qunmtkhu-vector5 {
  top: 24.203346252441406px;
  left: 6.256633758544922px;
  width: 88px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
}

.qunmtkhu-vector6 {
  top: 0px;
  left: 0px;
  width: 168px;
  height: 113px;
  position: absolute;
  box-sizing: border-box;
}

.qunmtkhu-vector7 {
  top: 113.40589141845703px;
  left: 0.000005321118806023151px;
  width: 75px;
  height: 14px;
  position: absolute;
  box-sizing: border-box;
}

.qunmtkhu-vector8 {
  top: 113.40589141845703px;
  left: 0.000005321118806023151px;
  width: 75px;
  height: 14px;
  position: absolute;
  box-sizing: border-box;
}

.qunmtkhu-container {
  min-height: 100vh;
}

.qunmtkhu-qunmtkhu {
  width: 100%;
  height: 810px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1440px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 16px;
  background-color: var(--dl-color-default-bg);
}

.qunmtkhu-rectangle496 {
  top: 0px;
  left: 592px;
  width: 848px;
  height: 810px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}

.qunmtkhu-frame {
  top: 153px;
  left: 635px;
  width: 711px;
  height: 560px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}

.qunmtkhu-text {
  top: 320px;
  left: 200px;
  color: var(--dl-color-gray-gray500);
  width: 300px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 33px;
  font-weight: 900;
  font-size: 20px;
  margin-right: 0;
  margin-bottom: 0;
}

.qunmtkhu-group322 {
  top: 360px;
  left: 94px;
  width: 400px;
  height: 75px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.qunmtkhu-text2 {
  color: rgba(55, 71, 79, 1);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 27px;
}

.qunmtkhu-button1 {
  top: 483px;
  left: 304px;
  width: 162px;
  height: 40px;
  display: flex;
  padding: 10px 24px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 6px 0px rgba(231, 233, 242, 1);
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  justify-content: center;
  background-color: var(--dl-color-orange-orange400);
}

.qunmtkhu-text6 {
  color: var(--dl-color-default-white);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 0;
}

.qunmtkhu-logoalta {
  top: 82px;
  left: 208px;
  width: 170px;
  height: 136px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}

.qunmtkhu-group {
  top: 0px;
  left: 0.47922834753990173px;
  width: 169.52076721191406px;
  height: 135.95645141601562px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.qunmtkhu-group1 {
  top: 108.35587310791016px;
  left: 76.39915466308594px;
  width: 88.72127532958984px;
  height: 27.600494384765625px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.qunmtkhu-vector {
  top: 0px;
  left: 0px;
  width: 29px;
  height: 28px;
  position: absolute;
  box-sizing: border-box;
}

.qunmtkhu-vector1 {
  top: 3.3958933353424072px;
  left: 31.21227264404297px;
  width: 58px;
  height: 21px;
  position: absolute;
  box-sizing: border-box;
}

.qunmtkhu-group2 {
  top: 0px;
  left: 1.306998610496521px;
  width: 168.21372985839844px;
  height: 112.92700958251953px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.qunmtkhu-vector2 {
  top: 0px;
  left: 0px;
  width: 168px;
  height: 113px;
  position: absolute;
  box-sizing: border-box;
}

.qunmtkhu-vector3 {
  top: 34.522247314453125px;
  left: 64.9511489868164px;
  width: 86px;
  height: 39px;
  position: absolute;
  box-sizing: border-box;
}

.qunmtkhu-vector4 {
  top: 24.204946517944336px;
  left: 6.213029861450195px;
  width: 88px;
  height: 26px;
  position: absolute;
  box-sizing: border-box;
}

.qunmtkhu-group3 {
  top: 0px;
  left: 1.2488800287246704px;
  width: 168.27188110351562px;
  height: 112.92700958251953px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.qunmtkhu-vector5 {
  top: 24.203346252441406px;
  left: 6.256731033325195px;
  width: 88px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
}

.qunmtkhu-vector6 {
  top: 0px;
  left: 0px;
  width: 168px;
  height: 113px;
  position: absolute;
  box-sizing: border-box;
}

.qunmtkhu-vector7 {
  top: 113.40589141845703px;
  left: -0.00001968688411579933px;
  width: 75px;
  height: 14px;
  position: absolute;
  box-sizing: border-box;
}

.qunmtkhu-vector8 {
  top: 113.40589141845703px;
  left: -0.00001968688411579933px;
  width: 75px;
  height: 14px;
  position: absolute;
  box-sizing: border-box;
}

.taikhoancanhan-container {
  min-height: 100vh;
}

.taikhoancanhan-button {
  top: 0px;
  left: 0px;
  width: 176px;
  height: 40px;
  display: flex;
  padding: 10px 8px 10px 0;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  justify-content: center;
}

.taikhoancanhan-text {
  color: var(--dl-color-orange-orange400);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 30px;
  margin-right: 0;
  margin-bottom: 0;
}

.taikhoancanhan-frame271 {
  top: 10px;
  left: 880px;
  width: 400px;
  height: 170px;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  overflow-y: auto;
  overflow-x: hidden;

  padding: 8px;

}

.taikhoancanhan-vuesaxboldnotification {
  top: 6px;
  left: 6px;
  width: 20px;
  height: 20px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}

.taikhoancanhan-vuesaxboldnotification1 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.taikhoancanhan-notification {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.taikhoancanhan-vector {
  top: 25px;
  left: 370px;
  width: 30px;
  height: 30px;
  position: absolute;
  box-sizing: border-box;
}

.taikhoancanhan-vector01 {
  top: 16.66666603088379px;
  left: 7.65000057220459px;
  width: 20px;
  height: 20px;
  position: absolute;
  box-sizing: border-box;
}

.taikhoancanhan-frame625106 {
  top: 168px;
  left: 224px;
  width: 80%;
  height: 397px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 2px 6px 0px rgba(48, 39, 39, 0.5);
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 12px;
  margin-bottom: 0;
}

.taikhoancanhan-group625151 {
  top: 40px;
  left: 24px;
  width: 248px;
  height: 303px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.taikhoancanhan-group624818 {
  top: 0px;
  left: 0px;
  width: 248px;
  height: 251px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.taikhoancanhan-group624817 {
  top: 206px;
  left: 171px;
  width: 45px;
  height: 45px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.taikhoancanhan-ellipse81 {
  top: 0px;
  left: 0px;
  width: 45px;
  height: 45px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 2px;
}

.taikhoancanhan-text20 {
  top: 267px;
  left: 31px;
  color: var(--dl-color-gray-gray500);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 40px;
  font-weight: 900;
  font-size: 20px;
}

.taikhoancanhan-group625150 {
  top: 40px;
  left: 296px;
  width: 792px;
  height: 276px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.taikhoancanhan-group625146 {
  top: 100px;
  left: 408px;
  width: 384px;
  height: 76px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.taikhoancanhan-group624750 {
  top: 0px;
  left: 0px;
  width: 68px;
  height: 24px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.taikhoancanhan-text22 {
  color: var(--dl-color-gray-gray500);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 0;
}

.taikhoancanhan-fill {
  top: 32px;
  left: 0px;
  width: 384px;
  height: 44px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 12px 16px;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 6px;
  background-color: var(--dl-color-gray-gray50);
}

.taikhoancanhan-text24 {
  color: var(--dl-color-gray-gray400text);
  height: auto;
  opacity: 0.50;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 0;
}

.taikhoancanhan-group6251501 {
  top: 0px;
  left: 0px;
  width: 384px;
  height: 76px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.taikhoancanhan-group6247501 {
  top: 0px;
  left: 0px;
  width: 113px;
  height: 24px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.taikhoancanhan-text26 {
  color: var(--dl-color-gray-gray500);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 0;
}

.taikhoancanhan-fill1 {
  top: 32px;
  left: 0px;
  width: 384px;
  height: 44px;
  display: flex;
  padding: 12px 16px;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 6px;
  background-color: var(--dl-color-gray-gray50);
}

.taikhoancanhan-text28 {
  color: var(--dl-color-gray-gray400text);
  height: auto;
  opacity: 0.50;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 0;
}

.taikhoancanhan-group625148 {
  top: 200px;
  left: 0px;
  width: 384px;
  height: 76px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.taikhoancanhan-group6247502 {
  top: 0px;
  left: 0px;
  width: 44px;
  height: 24px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.taikhoancanhan-text30 {
  color: var(--dl-color-gray-gray500);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 0;
}

.taikhoancanhan-fill2 {
  top: 32px;
  left: 0px;
  width: 384px;
  height: 44px;
  display: flex;
  padding: 12px 16px;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 6px;
  background-color: var(--dl-color-gray-gray50);
}

.taikhoancanhan-text32 {
  color: var(--dl-color-gray-gray400text);
  height: auto;
  opacity: 0.50;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 0;
}

.taikhoancanhan-group625152 {
  top: 200px;
  left: 408px;
  width: 384px;
  height: 76px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.taikhoancanhan-group6247503 {
  top: 0px;
  left: 0px;
  width: 52px;
  height: 24px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.taikhoancanhan-text34 {
  color: var(--dl-color-gray-gray500);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 0;
}

.taikhoancanhan-fill3 {
  top: 32px;
  left: 0px;
  width: 384px;
  height: 44px;
  display: flex;
  padding: 12px 16px;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 6px;
  background-color: var(--dl-color-gray-gray50);
}

.taikhoancanhan-text36 {
  color: var(--dl-color-gray-gray400text);
  height: auto;
  opacity: 0.50;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 0;
}

.taikhoancanhan-group625147 {
  top: 100px;
  left: 0px;
  width: 384px;
  height: 76px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.taikhoancanhan-group6247504 {
  top: 0px;
  left: 0px;
  width: 95px;
  height: 24px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.taikhoancanhan-frame6249604 {
  top: 0px;
  left: 0px;
  width: 200px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
  font-weight: 900;
}

.taikhoancanhan-text38 {
  color: var(--dl-color-gray-gray500);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 0;
}

.taikhoancanhan-fill4 {
  top: 32px;
  left: 0px;
  width: 384px;
  height: 44px;
  display: flex;
  padding: 12px 16px;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 6px;
  background-color: var(--dl-color-gray-gray50);
}

.taikhoancanhan-text40 {
  color: var(--dl-color-gray-gray400text);
  height: auto;
  opacity: 0.50;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 0;
}

.taikhoancanhan-group6251511 {
  top: 0px;
  left: 408px;
  width: 384px;
  height: 76px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.taikhoancanhan-group6247505 {
  top: 0px;
  left: 0px;
  width: 108px;
  height: 24px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.taikhoancanhan-text42 {
  color: var(--dl-color-gray-gray500);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 0;
}

.taikhoancanhan-fill5 {
  top: 32px;
  left: 0px;
  width: 384px;
  height: 44px;
  display: flex;
  padding: 12px 16px;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 6px;
  background-color: var(--dl-color-gray-gray50);
}

.taikhoancanhan-text44 {
  color: var(--dl-color-gray-gray400text);
  height: auto;
  opacity: 0.50;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 0;
}

.taikhoancanhan-frame625226 {
  top: 24px;
  left: 85%;
  width: 172px;
  height: 42px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 1px 1px 1px 1px;
  margin-bottom: 0;
}

.taikhoancanhan-unsplash-fyl8s-m-c2j2q {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 48px;
  margin-bottom: 0;
  background-size: cover;
  background-image: "{{url('../playground_assets/8d7431cb-3fc6-4cfb-b347-64050f445a8c-05td-200h.undefined');}}";
}

.taikhoancanhan-group296 {
  top: 0px;
  left: 48px;
  width: 150px;
  height: 42px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.taikhoancanhan-text02 {
  color: var(--dl-color-gray-gray300);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 18px;
}

.taikhoancanhan-text04 {
  top: 18px;
  color: var(--dl-color-gray-gray400text);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  font-weight: bold !important;
}