.dashboard-container {
  min-height: 100vh;
}


.dashboard-datepicker {
  top: 445px;
  left: 24px;
  width: 353px;
  height: 300px;
  display: flex;
  padding: 16px 10px;
  overflow: hidden;
  position: absolute;
  box-shadow: 2px 2px 10px 2px rgba(193, 127, 56, 0.877);
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 12px;
  margin-bottom: 0;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  color: #f44336 !important;
}

.dashboard-frame624769 {
  width: 294px;
  height: 304px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}

.dashboard-frame625202 {
  top: 156px;
  left: 24px;
  width: 353px;
  height: 83px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 2px 2px 15px 0px rgb(70 64 67 / 42%);
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 12px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-white);
}

.dashboard-frame625210 {
  left: 16px;
  width: 80px;
  height: 80px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}


.dashboard-text081 {
  top: 33px;
  left: 17px;
  color: var(--dl-color-gray-gray400text);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Nunito;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.dashboard-group625205 {
  top: 18px;
  left: 192px;
  width: 145px;
  height: 47px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dashboard-group625201 {
  top: 0px;
  left: 0px;
  width: 145px;
  height: 21px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dashboard-group625198 {
  top: 0px;
  left: 8px;
  width: 137px;
  height: 21px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dashboard-text083 {
  top: 1px;
  left: 99px;
  color: var(--dl-color-orange-orange500);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Nunito;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}

.dashboard-text085 {
  color: var(--dl-color-gray-gray300);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}

.dashboard-frame625214 {
  top: 8px;
  left: 0px;
  width: 4px;
  height: 4px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 4px;
  background-color: var(--dl-color-default-yellow);
}

.dashboard-group625202 {
  top: 26px;
  left: 0px;
  width: 133px;
  height: 21px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dashboard-group625199 {
  top: 0px;
  left: 8px;
  width: 125px;
  height: 21px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dashboard-text087 {
  top: 1px;
  left: 99px;
  color: var(--dl-color-orange-orange500);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Nunito;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}

.dashboard-text089 {
  color: var(--dl-color-gray-gray300);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}

.dashboard-frame625215 {
  top: 8px;
  left: 0px;
  width: 4px;
  height: 4px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 4px;
  background-color: var(--dl-color-gray-gray300);
}

.dashboard-group625204 {
  top: 14px;
  left: 88px;
  width: 67px;
  height: 54px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dashboard-group625210 {
  top: 0px;
  left: 0px;
  width: 67px;
  height: 54px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dashboard-text091 {
  color: var(--dl-color-gray-gray400text);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Nunito;
  font-weight: 800;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}

.dashboard-text093 {
  top: 33px;
  left: 18px;
  color: var(--dl-color-orange-orange500);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Nunito;
  font-weight: 600;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}

.dashboard-vuesaxlinearmonitor {
  top: 36px;
  left: 0px;
  width: 14px;
  height: 14px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}

.dashboard-vuesaxlinearmonitor1 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dashboard-monitor {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dashboard-vector {
  top: 1.1666667461395264px;
  left: 1.1666667461395264px;
  width: 12px;
  height: 9px;
  position: absolute;
  box-sizing: border-box;
}

.dashboard-vector01 {
  top: 10.045000076293945px;
  left: 7px;
  width: 0px;
  height: 3px;
  position: absolute;
  box-sizing: border-box;
}

.dashboard-vector02 {
  top: 7.583333492279053px;
  left: 1.1666667461395264px;
  width: 12px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
}

.dashboard-vector03 {
  top: 12.833333969116211px;
  left: 4.375px;
  width: 5px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
}

.dashboard-frame625203 {
  top: 251px;
  left: 24px;
  width: 353px;
  height: 83px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 2px 2px 15px 0px rgb(70 64 67 / 42%);
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 12px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-white);
}

.dashboard-group6252051 {
  top: 18px;
  left: 192px;
  width: 133px;
  height: 47px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dashboard-group6252011 {
  top: 0px;
  left: 0px;
  width: 133px;
  height: 21px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dashboard-group6251981 {
  top: 0px;
  left: 8px;
  width: 125px;
  height: 21px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dashboard-text097 {
  top: 1px;
  left: 99px;
  color: var(--dl-color-default-blue);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Nunito;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}

.dashboard-text099 {
  color: var(--dl-color-gray-gray300);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}

.dashboard-frame6252141 {
  top: 8px;
  left: 0px;
  width: 4px;
  height: 4px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 4px;
  background-color: var(--dl-color-default-blue);
}

.dashboard-group6252021 {
  top: 26px;
  left: 0px;
  width: 124px;
  height: 21px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dashboard-group6251991 {
  top: 0px;
  left: 8px;
  width: 116px;
  height: 21px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dashboard-text101 {
  top: 1px;
  left: 99px;
  color: var(--dl-color-default-blue);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Nunito;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}

.dashboard-text103 {
  color: var(--dl-color-gray-gray300);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}

.dashboard-frame6252151 {
  top: 8px;
  left: 0px;
  width: 4px;
  height: 4px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 4px;
  background-color: var(--dl-color-gray-gray300);
}

.dashboard-group625208 {
  top: 14px;
  left: 88px;
  width: 66px;
  height: 54px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dashboard-text105 {
  color: var(--dl-color-gray-gray400text);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Nunito;
  font-weight: 800;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}

.dashboard-text107 {
  top: 33px;
  left: 18px;
  color: var(--dl-color-default-blue);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Nunito;
  font-weight: 600;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}

.dashboard-frame332 {
  top: 37px;
  left: 0px;
  width: 15.473684310913086px;
  height: 14px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}

.dashboard-group305 {
  top: 9.585886001586914px;
  left: 2.72322154045105px;
  width: 4.317382335662842px;
  height: 0.9917160868644714px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dashboard-ellipse7 {
  top: 0.00013060317724011838px;
  left: 0px;
  width: 1px;
  height: 1px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
}

.dashboard-ellipse8 {
  top: 0px;
  left: 1.6604582071304321px;
  width: 1px;
  height: 1px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
}

.dashboard-ellipse9 {
  top: 0px;
  left: 3.3210513591766357px;
  width: 1px;
  height: 1px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
}

.dashboard-frame {
  top: 3.82380747795105px;
  left: 8.340563774108887px;
  width: 3px;
  height: 4px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}

.dashboard-group304 {
  top: 1.2333470582962036px;
  left: 0.7033820152282715px;
  width: 14.067039489746094px;
  height: 12.234125137329102px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dashboard-vector04 {
  top: -0.00005139802669873461px;
  left: 2.7002081871032715px;
  width: 11px;
  height: 9px;
  position: absolute;
  box-sizing: border-box;
}

.dashboard-vector05 {
  top: 5.461503028869629px;
  left: 0.000012849506674683653px;
  width: 8px;
  height: 7px;
  position: absolute;
  box-sizing: border-box;
}

.dashboard-frame625204 {
  top: 346px;
  left: 24px;
  width: 353px;
  height: 83px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 2px 2px 15px 0px rgb(70 64 67 / 42%);
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 12px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-white);
}

.dashboard-group6252052 {
  top: 10px;
  left: 192px;
  width: 145px;
  height: 63px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dashboard-group6252012 {
  top: 0px;
  left: 0px;
  width: 145px;
  height: 21px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dashboard-group6251982 {
  top: 0px;
  left: 8px;
  width: 137px;
  height: 21px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dashboard-text111 {
  top: 1px;
  left: 99px;
  color: var(--dl-color-default-green);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Nunito;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}

.dashboard-text113 {
  color: var(--dl-color-gray-gray300);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}

.dashboard-frame6252142 {
  top: 8px;
  left: 0px;
  width: 4px;
  height: 4px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 4px;
  background-color: var(--dl-color-default-green);
}

.dashboard-group6252022 {
  top: 21px;
  left: 0px;
  width: 133px;
  height: 21px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dashboard-group6251992 {
  top: 0px;
  left: 8px;
  width: 125px;
  height: 21px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dashboard-text115 {
  top: 1px;
  left: 99px;
  color: var(--dl-color-default-green);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Nunito;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}

.dashboard-text117 {
  color: var(--dl-color-gray-gray300);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}

.dashboard-frame6252152 {
  top: 8px;
  left: 0px;
  width: 4px;
  height: 4px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 4px;
  background-color: var(--dl-color-gray-gray300);
}

.dashboard-group625203 {
  top: 42px;
  left: 0px;
  width: 124px;
  height: 21px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dashboard-group6251993 {
  top: 0px;
  left: 8px;
  width: 116px;
  height: 21px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dashboard-text119 {
  top: 1px;
  left: 99px;
  color: var(--dl-color-default-green);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Nunito;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}

.dashboard-text121 {
  color: var(--dl-color-gray-gray300);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}

.dashboard-frame6252153 {
  top: 8px;
  left: 0px;
  width: 4px;
  height: 4px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 4px;
  background-color: var(--dl-color-default-fuschia50);
}

.dashboard-group625209 {
  top: 14px;
  left: 88px;
  width: 64px;
  height: 54px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dashboard-text123 {
  color: var(--dl-color-gray-gray400text);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Nunito;
  font-weight: 800;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}

.dashboard-text125 {
  top: 33px;
  left: 18px;
  color: var(--dl-color-default-green);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Nunito;
  font-weight: 600;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}

.dashboard-icondasboard03 {
  top: 37px;
  left: 0px;
  width: 14px;
  height: 14px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}

.dashboard-filayers {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}

.dashboard-text127 {
  top: 104px;
  left: 24px;
  color: var(--dl-color-orange-orange500);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 36px;
  margin-right: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 20px;
}


.dashboard-button5 {
  top: 0px;
  left: 0px;
  width: 110px;
  height: 40px;
  display: flex;
  padding: 10px 8px 10px 0;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  justify-content: center;
}

.dashboard-text129 {
  color: var(--dl-color-orange-orange400);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 30px;
  margin-right: 0;
  margin-bottom: 0;
}

.dashboard-frame271 {
  top: 28px;
  left: 948px;
  width: 32px;
  height: 32px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 32px;
  margin-bottom: 0;
  background-color: var(--dl-color-orange-orange50);
}

.dashboard-vuesaxboldnotification {
  top: 6px;
  left: 6px;
  width: 20px;
  height: 20px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}

.dashboard-vuesaxboldnotification1 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dashboard-notification {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dashboard-vector06 {
  top: 1.6666667461395264px;
  left: 3.592170238494873px;
  width: 13px;
  height: 14px;
  position: absolute;
  box-sizing: border-box;
}

.dashboard-vector07 {
  top: 16.66666603088379px;
  left: 7.65000057220459px;
  width: 5px;
  height: 2px;
  position: absolute;
  box-sizing: border-box;
}

.dashboard-ngay {
  top: 296px;
  left: 224px;
  width: 791px;
  height: 440px;
  display: flex;
  position: absolute;
  box-shadow: 2px 2px 15px 0px rgba(70, 64, 67, 0.10000000149011612);
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: white;
}

.dashboard-group625154 {
  top: 0px;
  left: 0px;
  width: 791px;
  height: 440px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dashboard-group6251541 {
  top: 0px;
  left: 0px;
  width: 791px;
  height: 440px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dashboard-cardselevationwhiteflat {
  top: 0px;
  left: 0px;
  width: 791px;
  height: 440px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 8px;
  background-color: white;
}

.dashboard-cardselevationflat {
  top: 0px;
  left: 0px;
  width: 791px;
  height: 484px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 12px;
  margin-bottom: 0;
}

.dashboard-frame625120 {
  top: 10px;
  left: 27px;
  width: 100%;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
}

.dashboard-group625172 {
  top: 300px;
  width: 200px;
  height: 30px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dashboard-text152 {
  top: 6px;
  left: 11px;
  color: var(--dl-color-gray-gray400text);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 21px;
}

.dashboard-frame625193 {
  top: 24px;
  left: 583px;
  width: 184px;
  height: 42px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  justify-content: center;
}

.dashboard-text153 {
  color: var(--dl-color-gray-gray500);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 8px;
  margin-bottom: 0;
}

.dashboard-dropdown {
  width: 106px;
  height: 42px;
  display: flex;
  padding: 10px 12px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(212, 212, 215, 1);
  border-style: solid;
  border-width: 1.5px;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  justify-content: space-between;
  background-color: var(--dl-color-default-white);
}

.dashboard-text155 {
  color: var(--dl-color-grayblue-gray4placeholder);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
}

.dashboard-graphsexamplehorizontalgraphsgraphic {
  top: 78px;
  left: 24px;
  width: 754px;
  height: 373px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 8px;
}

.dashboard-graphselementshorizontallines48px {
  top: 2px;
  left: -3px;
  width: 739px;
  height: 373px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}

.dashboard-lines {
  top: -589px;
  left: 0px;
  width: 739px;
  height: 883px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dashboard-text167 {
  top: 24px;
  left: 24px;
  color: var(--dl-color-gray-gray500);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 30px;
}

.dashboard-text169 {
  top: 58px;
  left: 24px;
  color: var(--dl-color-gray-gray200placeholder);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 21px;
}

.dashboard-text171 {
  top: 104px;
  left: 224px;
  color: var(--dl-color-orange-orange500);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 36px;
  margin-right: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 20px;
}

.dashboard-frame625221 {
  top: 156px;
  left: 224px;
  width: 790px;
  height: 128px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 12px;
  margin-bottom: 0;
}

.dashboard-frame625222 {
  top: 4px;
  left: 4px;
  width: 186px;
  height: 120px;
  display: flex;
  position: absolute;
  box-shadow: 2px 2px 15px 0px rgba(70, 64, 67, 0.10000000149011612);
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 12px;
  margin-bottom: 0;
  background-color: var(--dl-color-orange-orange50);
}

.dashboard-rectangle3463117 {
  top: 0px;
  left: 0px;
  width: 186px;
  height: 120px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 10px;
  margin-bottom: 0;
}

.dashboard-text173 {
  top: 68px;
  left: 12px;
  color: var(--dl-color-gray-gray400text);
  width: 108px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 45px;
  margin-right: 0;
  margin-bottom: 0;
}

.dashboard-group625207 {
  top: 8px;
  left: 12px;
  width: 120.01953125px;
  height: 48px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dashboard-frame624758 {
  top: 0px;
  left: 0px;
  width: 48px;
  height: 48px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}

.dashboard-ellipse10 {
  top: 0px;
  left: 0px;
  width: 48px;
  height: 48px;
  opacity: 0.15;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(218, 218, 218, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0;
  margin-bottom: 0;
}

.dashboard-icondasboard031 {
  top: 12px;
  left: 12px;
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}

.dashboard-group {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dashboard-vector10 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
}

.dashboard-text175 {
  top: 6px;
  left: 60.01953125px;
  width: 85px;
  color: var(--dl-color-gray-gray400text);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 18px;
}

.dashboard-group625213 {
  top: 85.5322265625px;
  left: 130.301025390625px;
  width: 48px;
  height: 14.978116035461426px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 149, 1, 0.15000000596046448);
}

.dashboard-group625211 {
  top: 0.9892578125px;
  left: 3.5px;
  width: 41px;
  height: 12.000000953674316px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dashboard-group625212 {
  top: 0px;
  left: 0px;
  width: 41px;
  height: 12.000000953674316px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dashboard-biarrowdownshort {
  top: 12.000000953674316px;
  left: 12px;
  width: 12px;
  height: 12px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}

.dashboard-group01 {
  top: 2.99951171875px;
  left: 3.374551296234131px;
  width: 5.25094747543335px;
  height: 6.000670433044434px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dashboard-vector11 {
  top: 0px;
  left: 0px;
  width: 5px;
  height: 6px;
  position: absolute;
  box-sizing: border-box;
}

.dashboard-text180 {
  top: 0.0000010490732620382914px;
  left: 12px;
  color: var(--dl-color-orange-orange400);
  height: auto;
  position: absolute;
  font-size: 8px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: 12px;
  font-stretch: normal;
  text-decoration: none;
}

.dashboard-frame625223 {
  top: 4px;
  left: 203px;
  width: 186px;
  height: 120px;
  display: flex;
  position: absolute;
  box-shadow: 2px 2px 15px 0px rgba(70, 64, 67, 0.10000000149011612);
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 12px;
  margin-bottom: 0;
}

.dashboard-rectangle34631171 {
  top: 0px;
  left: 0px;
  width: 186px;
  height: 120px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 10px;
  margin-bottom: 0;
}

.dashboard-text182 {
  top: 68px;
  left: 12px;
  color: var(--dl-color-gray-gray400text);
  width: 108px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 45px;
  margin-right: 0;
  margin-bottom: 0;
}

.dashboard-group6252071 {
  top: 8px;
  left: 11.75px;
  width: 132.26953125px;
  height: 48px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dashboard-frame624759 {
  top: 0px;
  left: 0px;
  width: 48px;
  height: 48px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}

.dashboard-ellipse101 {
  top: 0px;
  left: 0px;
  width: 48px;
  height: 48px;
  opacity: 0.15;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(53, 199, 90, 1);
  border-style: solid;
  border-width: 2px;
  margin-right: 0;
  margin-bottom: 0;
}

.dashboard-icondasboard02 {
  top: 12px;
  left: 12px;
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}

.dashboard-group02 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dashboard-vector12 {
  top: 10.498537063598633px;
  left: 8.24904727935791px;
  width: 8px;
  height: 6px;
  position: absolute;
  box-sizing: border-box;
}

.dashboard-vector13 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
}

.dashboard-group6252131 {
  top: 85.5322265625px;
  left: 130.301025390625px;
  width: 48px;
  height: 14.978116035461426px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(231, 63, 63, 0.15000000596046448);
}

.dashboard-group6252111 {
  top: 0.9892578125px;
  left: 3.5px;
  width: 41px;
  height: 12.000000953674316px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dashboard-group6252121 {
  top: 0px;
  left: 0px;
  width: 41px;
  height: 12.000000953674316px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dashboard-biarrowdownshort1 {
  top: 9.536761353956535e-7px;
  left: 12px;
  width: 12px;
  height: 12px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}

.dashboard-group03 {
  top: 2.99951171875px;
  left: 3.374551296234131px;
  width: 5.25094747543335px;
  height: 6.000670433044434px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dashboard-vector14 {
  top: 0px;
  left: 0px;
  width: 5px;
  height: 6px;
  position: absolute;
  box-sizing: border-box;
}

.dashboard-text189 {
  top: 0.0000010490732620382914px;
  left: 12px;
  color: var(--dl-color-default-red);
  height: auto;
  position: absolute;
  font-size: 8px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: 12px;
  font-stretch: normal;
  text-decoration: none;
}

.dashboard-frame625224 {
  top: 4px;
  left: 402px;
  width: 186px;
  height: 120px;
  display: flex;
  position: absolute;
  box-shadow: 2px 2px 15px 0px rgba(70, 64, 67, 0.10000000149011612);
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 12px;
  margin-bottom: 0;
}

.dashboard-rectangle34631172 {
  top: 0px;
  left: 0px;
  width: 186px;
  height: 120px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 10px;
  margin-bottom: 0;
}

.dashboard-text191 {
  top: 68px;
  left: 12px;
  color: var(--dl-color-gray-gray400text);
  width: 108px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 45px;
  margin-right: 0;
  margin-bottom: 0;
}

.dashboard-group6252072 {
  top: 8px;
  left: 12.25px;
  width: 119.76953125px;
  height: 48px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dashboard-frame6247591 {
  top: 0px;
  left: 0px;
  width: 48px;
  height: 48px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}

.dashboard-ellipse102 {
  top: 0px;
  left: 0px;
  width: 48px;
  height: 48px;
  opacity: 0.15;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(218, 218, 218, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0;
  margin-bottom: 0;
}

.dashboard-icondasboard05 {
  top: 12px;
  left: 12px;
  width: 24px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}

.dashboard-group625214 {
  top: 85.5322265625px;
  left: 130.301025390625px;
  width: 48px;
  height: 14.978116035461426px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 149, 1, 0.15000000596046448);
}

.dashboard-group6252112 {
  top: 0.9892578125px;
  left: 3.5px;
  width: 41px;
  height: 12.000000953674316px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dashboard-group6252122 {
  top: 0px;
  left: 0px;
  width: 41px;
  height: 12.000000953674316px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dashboard-biarrowdownshort2 {
  top: 12.000000953674316px;
  left: 12px;
  width: 12px;
  height: 12px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}

.dashboard-group04 {
  top: 2.99951171875px;
  left: 3.374551296234131px;
  width: 5.25094747543335px;
  height: 6.000670433044434px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dashboard-vector15 {
  top: 0px;
  left: 0px;
  width: 5px;
  height: 6px;
  position: absolute;
  box-sizing: border-box;
}

.dashboard-text198 {
  top: 0.0000010490732620382914px;
  left: 12px;
  color: var(--dl-color-orange-orange400);
  height: auto;
  position: absolute;
  font-size: 8px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: 12px;
  font-stretch: normal;
  text-decoration: none;
}

.dashboard-frame625225 {
  top: 4px;
  left: 600px;
  width: 186px;
  height: 120px;
  display: flex;
  position: absolute;
  box-shadow: 2px 2px 15px 0px rgba(70, 64, 67, 0.10000000149011612);
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 12px;
  margin-bottom: 0;
}

.dashboard-rectangle34631173 {
  top: 0px;
  left: 0px;
  width: 186px;
  height: 120px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 10px;
  margin-bottom: 0;
}

.dashboard-text200 {
  top: 68px;
  left: 12px;
  color: var(--dl-color-gray-gray400text);
  width: 108px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 45px;
  margin-right: 0;
  margin-bottom: 0;
}

.dashboard-group6252073 {
  top: 8px;
  left: 12.5px;
  width: 124.51953125px;
  height: 48px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dashboard-frame6247592 {
  top: 0px;
  left: 0px;
  width: 48px;
  height: 48px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}

.dashboard-ellipse103 {
  top: 0px;
  left: 0px;
  width: 48px;
  height: 48px;
  opacity: 0.15;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(218, 218, 218, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0;
  margin-bottom: 0;
}

.dashboard-icondasboard07 {
  top: 12px;
  left: 12px;
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}

.dashboard-group05 {
  top: 0px;
  left: 3px;
  width: 18px;
  height: 23.999614715576172px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dashboard-vector16 {
  top: 6px;
  left: 5.249555587768555px;
  width: 8px;
  height: 7px;
  position: absolute;
  box-sizing: border-box;
}

.dashboard-vector17 {
  top: 0px;
  left: 0px;
  width: 18px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
}

.dashboard-text202 {
  top: 6px;
  left: 59.51953125px;
  color: var(--dl-color-gray-gray400text);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 18px;
}

.dashboard-group6252132 {
  top: 85.5322265625px;
  left: 130.301025390625px;
  width: 48px;
  height: 14.978116035461426px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(231, 63, 63, 0.15000000596046448);
}

.dashboard-group6252113 {
  top: 0.9892578125px;
  left: 3.5px;
  width: 41px;
  height: 12.000000953674316px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dashboard-group6252123 {
  top: 0px;
  left: 0px;
  width: 41px;
  height: 12.000000953674316px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dashboard-biarrowdownshort3 {
  top: 9.536761353956535e-7px;
  left: 12px;
  width: 12px;
  height: 12px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}

.dashboard-group06 {
  top: 2.99951171875px;
  left: 3.374551296234131px;
  width: 5.25094747543335px;
  height: 6.000670433044434px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.dashboard-vector18 {
  top: 0px;
  left: 0px;
  width: 5px;
  height: 6px;
  position: absolute;
  box-sizing: border-box;
}

.dashboard-text207 {
  top: 0.0000010490732620382914px;
  left: 12px;
  color: var(--dl-color-default-red);
  height: auto;
  position: absolute;
  font-size: 8px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: 12px;
  font-stretch: normal;
  text-decoration: none;
}

.dashboard-menubar {
  top: 0px;
  left: 1039px;
  width: 500px;
  height: 810px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 6px 0px rgba(218, 218, 218, 0.5);
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 8px 0 0 8px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-white);
}