.nhtkngidng-container {
  min-height: 100vh;
}


.nhtkngidng-button {
  height: 40px;
  display: flex;
  padding: 10px 8px 10px 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0px;
  border-radius: 8px;
  margin-bottom: 0;
  justify-content: center;
}
.nhtkngidng-text {
  color: var(--dl-color-grayblue-gray4placeholder);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 30px;
  margin-right: 0;
  margin-bottom: 0;
}
.nhtkngidng-uangleright {
  width: 20px;
  height: 20px;
  position: relative;
  box-sizing: border-box;
  margin-right: 0px;
  margin-bottom: 0;
}
.nhtkngidng-button1 {
  height: 40px;
  display: flex;
  padding: 10px 8px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  justify-content: center;
}
.nhtkngidng-text002 {
  color: var(--dl-color-orange-orange500);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 30px;
  margin-right: 0;
  margin-bottom: 0;
}
.nhtkngidng-frame271 {
  top: 28px;
  left: 948px;
  width: 32px;
  height: 32px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 32px;
  margin-bottom: 0;
  background-color: var(--dl-color-orange-orange50);
}
.nhtkngidng-vuesaxboldnotification {
  top: 6px;
  left: 6px;
  width: 20px;
  height: 20px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.nhtkngidng-vuesaxboldnotification1 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.nhtkngidng-notification {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.nhtkngidng-vector {
  top: 1.6666667461395264px;
  left: 3.592170238494873px;
  width: 13px;
  height: 14px;
  position: absolute;
  box-sizing: border-box;
}
.nhtkngidng-vector01 {
  top: 16.66666603088379px;
  left: 7.65000057220459px;
  width: 5px;
  height: 2px;
  position: absolute;
  box-sizing: border-box;
}
.nhtkngidng-group311 {
  top: 104px;
  left: 224px;
  width: 320px;
  height: 72px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.nhtkngidng-datepicker {
  top: 28px;
  left: 0px;
  width: 320px;
  height: 44px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}
.nhtkngidng-datepicker1 {
  top: 0px;
  left: 0px;
  width: 150px;
  height: 44px;
  display: flex;
  padding: 8px 8px;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(212, 212, 215, 1);
  border-style: solid;
  border-width: 1.5px;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
}
.nhtkngidng-text008 {
  color: var(--dl-color-gray-gray200placeholder);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 0;
}
.nhtkngidng-datepicker2 {
  top: 0px;
  left: 170px;
  width: 150px;
  height: 44px;
  display: flex;
  padding: 8px 8px;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(212, 212, 215, 1);
  border-style: solid;
  border-width: 1.5px;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
}
.nhtkngidng-text010 {
  color: var(--dl-color-gray-gray200placeholder);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 0;
}
.nhtkngidng-vuesaxboldarrowright {
  top: 17px;
  left: 154px;
  width: 12px;
  height: 10px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.nhtkngidng-vuesaxboldarrowright1 {
  top: 0px;
  left: 0px;
  width: 12px;
  height: 10px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.nhtkngidng-arrowright {
  top: 0px;
  left: 0px;
  width: 12px;
  height: 10px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.nhtkngidng-vector22 {
  top: 2.5px;
  left: 4px;
  width: 4px;
  height: 5px;
  position: absolute;
  box-sizing: border-box;
}
.nhtkngidng-text012 {
  color: var(--dl-color-gray-gray500);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
}
.nhtkngidng-frame624691 {

  padding: 0 16px;
  position: relative;
  align-self: stretch;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0px;
  background-color: var(--dl-color-orange-orange400);
}
.nhtkngidng-text014 {
  color: var(--dl-color-default-white);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 0;
}
.nhtkngidng-group318 {
  top: 104px;
  left: 1096px;
  width: 240px;
  height: 72px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.nhtkngidng-input {
  top: 28px;
  left: 0px;
  width: 240px;
  height: 44px;
  display: flex;
  padding: 10px 16px 10px 12px;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(212, 212, 215, 1);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 8px;
  justify-content: space-between;
  background-color: var(--dl-color-default-white);
}
.nhtkngidng-text125 {
  color: var(--dl-color-gray-gray200placeholder);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.nhtkngidng-fisearch {
  width: 20px;
  height: 20px;
  top: 40px;
  left: 200px;
  position: relative;
  box-sizing: border-box;
}
.nhtkngidng-text127 {
  top: 1.8189894035458565e-12px;
  color: var(--dl-color-gray-gray500);
  width: 62px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
}
