:root {
    --dl-color-gray-500: #595959;
    --dl-color-gray-700: #999999;
    --dl-color-gray-900: #D9D9D9;
    --dl-size-size-large: 144px;
    --dl-size-size-small: 48px;
    --dl-color-danger-300: #A22020;
    --dl-color-danger-500: #BF2626;
    --dl-color-danger-700: #E14747;
    --dl-color-default-bg: rgba(246, 246, 246, 1);
    --dl-color-fuschia-10: rgba(184, 172, 178, 1);
    --dl-color-fuschia-50: rgba(241, 120, 182, 1);
    --dl-color-gray-black: #000000;
    --dl-color-gray-white: rgba(255, 255, 255, 1);
    --dl-size-size-medium: 96px;
    --dl-size-size-xlarge: 192px;
    --dl-size-size-xsmall: 16px;
    --dl-space-space-unit: 16px;
    --dl-color-default-red: rgba(231, 63, 63, 1);
    --dl-color-gray-gray50: rgba(234, 234, 236, 1);
    --dl-color-primary-100: #003EB3;
    --dl-color-primary-300: #0074F0;
    --dl-color-primary-500: #14A9FF;
    --dl-color-primary-700: #85DCFF;
    --dl-color-success-300: #199033;
    --dl-color-success-500: #32A94C;
    --dl-color-success-700: #4CC366;
    --dl-size-size-xxlarge: 288px;
    --dl-color-default-blue: rgba(65, 118, 255, 1);
    --dl-color-gray-gray100: rgba(212, 212, 215, 1);
    --dl-color-gray-gray300: rgba(126, 125, 136, 1);
    --dl-color-gray-gray500: rgba(40, 39, 57, 1);
    --dl-color-gray-gray600: rgba(30, 29, 43, 1);
    --dl-color-gray-gray700: rgba(20, 20, 29, 1);
    --dl-color-gray-gray800: rgba(10, 10, 14, 1);
    --dl-color-gray-gray900: rgba(4, 4, 6, 1);
    --dl-size-size-maxwidth: 1400px;
    --dl-color-default-green: rgba(53, 199, 90, 1);
    --dl-color-default-white: rgba(255, 255, 255, 1);
    --dl-radius-radius-round: 50%;
    --dl-color-default-orange: rgba(255, 149, 1, 1);
    --dl-color-default-yellow: rgba(255, 209, 47, 1);
    --dl-space-space-halfunit: 8px;
    --dl-space-space-sixunits: 96px;
    --dl-space-space-twounits: 32px;
    --dl-color-orange-orange50: rgba(255, 242, 231, 1);
    --dl-radius-radius-radius2: 2px;
    --dl-radius-radius-radius4: 4px;
    --dl-radius-radius-radius8: 8px;
    --dl-space-space-fiveunits: 80px;
    --dl-space-space-fourunits: 64px;
    --dl-color-default-gradient: rgba(48, 118, 161, 1);
    --dl-color-gray-gray400text: rgba(83, 82, 97, 1);
    --dl-color-orange-orange100: rgba(255, 227, 205, 1);
    --dl-color-orange-orange200: rgba(255, 200, 155, 1);
    --dl-color-orange-orange300: rgba(255, 172, 106, 1);
    --dl-color-orange-orange400: rgba(255, 145, 56, 1);
    --dl-color-orange-orange500: rgba(255, 117, 6, 1);
    --dl-color-orange-orange600: rgba(191, 88, 5, 1);
    --dl-color-orange-orange700: rgba(128, 59, 3, 1);
    --dl-color-orange-orange800: rgba(64, 29, 2, 1);
    --dl-color-orange-orange900: rgba(26, 12, 1, 1);
    --dl-space-space-threeunits: 48px;
    --dl-color-default-fuschia50: rgba(241, 120, 182, 1);
    --dl-color-grayblue-gray5text: rgba(83, 82, 97, 1);
    --dl-space-space-oneandhalfunits: 24px;
    --dl-color-gray-gray200placeholder: rgba(169, 169, 176, 1);
  }
  .button {
    color: var(--dl-color-gray-black);
    display: inline-block;
    padding: 0.5rem 1rem;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--dl-color-gray-white);
  }
  .input {
    color: var(--dl-color-gray-black);
    cursor: auto;
    padding: 0.5rem 1rem;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--dl-color-gray-white);
  }
  .textarea {
    color: var(--dl-color-gray-black);
    cursor: auto;
    padding: 0.5rem;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--dl-color-gray-white);
  }
  .list {
    width: 100%;
    margin: 1em 0px 1em 0px;
    display: block;
    padding: 0px 0px 0px 1.5rem;
    list-style-type: none;
    list-style-position: outside;
  }
  .list-item {
    display: list-item;
  }
  .teleport-show {
    display: flex !important;
  }
  .content {
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .button {
    color: var(--dl-color-gray-black);
    display: inline-block;
    padding: 0.5rem 1rem;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--dl-color-gray-white);
  }
  .input {
    color: var(--dl-color-gray-black);
    cursor: auto;
    padding: 0.5rem 1rem;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--dl-color-gray-white);
  }
  .textarea {
    color: var(--dl-color-gray-black);
    cursor: auto;
    padding: 0.5rem;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--dl-color-gray-white);
  }
  .list {
    width: 100%;
    margin: 1em 0px 1em 0px;
    display: block;
    padding: 0px 0px 0px 1.5rem;
    list-style-type: none;
    list-style-position: outside;
  }
  .list-item {
    display: list-item;
  }
  .teleport-show {
    display: flex !important;
  }
  .container-all {
    width: 100%;
    height: 750px;
    display: flex;
   
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 16px;
    background-color: rgb(230 230 230);
  }
  .topbar-all {
    top: 0px;
    left: 200px;
    width: 100%;
    height: 88px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
  }
  .pagination-all {
    top: 700px;
    left: 900px;
    width: 288px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
  }
  .create-index {
    top: 244px;
    left: 93%;
    width: 80px;
    display: flex;
    padding: 12px 4px;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 0px 6px 0px rgba(231, 233, 242, 1);
    box-sizing: border-box;
    align-items: center;
    border-color: transparent;
    margin-right: 0;
    border-radius: 8px 0 0 8px;
    margin-bottom: 0;
    flex-direction: column;
    justify-content: center;
    background-color: var(--dl-color-orange-orange50);
  }
  .table-index224 {
    top: 244px;
    left: 224px;
    width: 77%;
    overflow: hidden;
    position: absolute;
    box-shadow: 2px 2px 8px 0px rgba(232, 239, 244, 0.800000011920929);
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0;
    border-radius: 12px;
    margin-bottom: 0;
  }
  .table-index192 {
    top: 192px;
    left: 224px;
    width: 77%;
    overflow: hidden;
    position: absolute;
    box-shadow: 2px 2px 8px 0px rgba(232, 239, 244, 0.800000011920929) ;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0;
    border-radius: 12px;
    margin-bottom: 0;
  }
  .breadcrumbs {
    top: 24px;
    left: 24px;
    width: 520px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: center;
    border-color: transparent;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    font-weight: bold !important;
  }
  .cancel-button {
    top: 0px;
    left: 0px;
    width: 120px;
    height: 45px;
    display: flex;
    padding: 10px 24px;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 0px 6px 0px rgba(231, 233, 242, 1) ;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 0;
    border-color: rgba(255, 145, 56, 1);
    border-style: solid;
    border-width: 1.5px;
    margin-right: 0;
    border-radius: 8px;
    margin-bottom: 0;
    justify-content: center;
    background-color: var(--dl-color-orange-orange50);
  }
  .list-index {
    top: 100px;
    left: 224px;
    width: 200px;
    font-weight: bold;
    font-size: 20px;
    color: var(--dl-color-orange-orange500);
    height: auto;
    position: absolute;
    align-self: auto;
    text-align: left;
    line-height: 36px;
    margin-right: 0;
    margin-bottom: 0;
  }

  .chitiettieude {
    color: var(--dl-color-gray-gray500);
    height: auto;
    align-self: auto;
    text-align: left;
    line-height: 24px;
    font-weight: bold;
  }
  
.tieude {
  top: 16px;
  left: 24px;
  color: var(--dl-color-orange-orange500);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 30px;
  margin-right: 0;
  margin-bottom: 0;
  font-weight: bold;
}
.alert1 {
  padding: 5px;
  background-color: #f44336;
  color: white;
  left: 170px;
  top: 0px;
  width: 300px;
  color: white;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 20px;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 14px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.ui-widget.ui-widget-content {
  border: 1px solid #c5c5c5;
  width: 350px;
  
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #f44336;
  border-color: #f44336;
  border-radius: 10px;
}

.thongbao
{
  top: 60px;
  left: 1200px;
  width: 200px;
  height: 200px;
  display: block;
  overflow:auto;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 32px;
  margin-bottom: 0;
}