.capnhattaikhoan-container {
  min-height: 100vh;
}



.capnhattaikhoan-button {
  height: 40px;
  display: flex;
  padding: 10px 8px 10px 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0px;
  border-radius: 8px;
  margin-bottom: 0;
  justify-content: center;
}

.capnhattaikhoan-text {
  color: var(--dl-color-grayblue-gray4placeholder);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 30px;
  margin-right: 0;
  margin-bottom: 0;
}

.capnhattaikhoan-uangleright {
  width: 20px;
  height: 20px;
  position: relative;
  box-sizing: border-box;
  margin-right: 0px;
  margin-bottom: 0;
}

.capnhattaikhoan-button1 {
  height: 40px;
  display: flex;
  padding: 10px 8px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0px;
  border-radius: 8px;
  margin-bottom: 0;
  justify-content: center;
}

.capnhattaikhoan-text02 {
  color: var(--dl-color-grayblue-gray4placeholder);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 30px;
  margin-right: 0;
  margin-bottom: 0;
}

.capnhattaikhoan-uangleright1 {
  width: 20px;
  height: 20px;
  position: relative;
  box-sizing: border-box;
  margin-right: 0px;
  margin-bottom: 0;
}

.capnhattaikhoan-button2 {
  height: 40px;
  display: flex;
  padding: 10px 8px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  justify-content: center;
}

.capnhattaikhoan-text04 {
  color: var(--dl-color-orange-orange500);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 30px;
  margin-right: 0;
  margin-bottom: 0;
}

.capnhattaikhoan-frame271 {
  top: 28px;
  left: 948px;
  width: 32px;
  height: 32px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 32px;
  margin-bottom: 0;
  background-color: var(--dl-color-orange-orange50);
}

.capnhattaikhoan-vuesaxboldnotification {
  top: 6px;
  left: 6px;
  width: 20px;
  height: 20px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}

.capnhattaikhoan-vuesaxboldnotification1 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.capnhattaikhoan-notification {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.capnhattaikhoan-vector {
  top: 1.6666667461395264px;
  left: 3.592170238494873px;
  width: 13px;
  height: 14px;
  position: absolute;
  box-sizing: border-box;
}

.capnhattaikhoan-vector01 {
  top: 16.66666603088379px;
  left: 7.65000057220459px;
  width: 5px;
  height: 2px;
  position: absolute;
  box-sizing: border-box;
}

.capnhattaikhoan-text10 {
  top: 104px;
  left: 30px;
  color: var(--dl-color-orange-orange500);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 36px;
  margin-right: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 20px;
}

.capnhattaikhoan-frame624726 {
  top: 150px;
  left: 20px;
  width: 1192px;
  height: 500px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 2px 2px 8px 0px rgba(232, 239, 244, 0.800000011920929);
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 16px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-white);
}

.capnhattaikhoan-text12 {
  top: 16px;
  left: 24px;
  color: var(--dl-color-orange-orange500);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 30px;
  margin-right: 0;
  margin-bottom: 0;
}

.capnhattaikhoan-frame624731 {
  top: 66px;
  left: 24px;
  width: 560px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
}

.capnhattaikhoan-warningtext {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 8px;
}

.capnhattaikhoan-text14 {
  color: var(--dl-color-gray-gray500);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 4px;
  margin-bottom: 0;
}

.capnhattaikhoan-vector02 {
  width: 6px;
  height: 6px;
  position: relative;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}

.capnhattaikhoan-input {
  color: rgba(83, 82, 97, 1);
  width: 560px;
  height: 44px;
  display: flex;
  padding: 10px 270px 10px 12px;
  overflow: hidden;
  position: relative;
  font-size: 16px;
  box-sizing: border-box;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  font-family: Nunito;
  font-weight: 400;
  border-color: rgba(212, 212, 215, 1);
  border-style: solid;
  border-width: 1.5px;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-white);
}

.capnhattaikhoan-frame624732 {
  top: 158px;
  left: 24px;
  width: 560px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
}

.capnhattaikhoan-warningtext1 {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 8px;
}

.capnhattaikhoan-text16 {
  color: var(--dl-color-gray-gray500);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 4px;
  margin-bottom: 0;
}

.capnhattaikhoan-vector03 {
  width: 6px;
  height: 6px;
  position: relative;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}

.capnhattaikhoan-input1 {
  color: rgba(83, 82, 97, 1);
  width: 560px;
  height: 44px;
  display: flex;
  padding: 10px 270px 10px 12px;
  overflow: hidden;
  position: relative;
  font-size: 16px;
  box-sizing: border-box;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  font-family: Nunito;
  font-weight: 400;
  border-color: rgba(212, 212, 215, 1);
  border-style: solid;
  border-width: 1.5px;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-white);
}

.capnhattaikhoan-frame624733 {
  top: 250px;
  left: 24px;
  width: 560px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
}

.capnhattaikhoan-warningtext2 {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 8px;
}

.capnhattaikhoan-text18 {
  color: var(--dl-color-gray-gray500);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 4px;
  margin-bottom: 0;
}

.capnhattaikhoan-vector04 {
  width: 6px;
  height: 6px;
  position: relative;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}

.capnhattaikhoan-input2 {
  color: rgba(83, 82, 97, 1);
  width: 560px;
  height: 44px;
  display: flex;
  padding: 10px 270px 10px 12px;
  overflow: hidden;
  position: relative;
  font-size: 16px;
  box-sizing: border-box;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  font-family: Nunito;
  font-weight: 400;
  border-color: rgba(212, 212, 215, 1);
  border-style: solid;
  border-width: 1.5px;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-white);
}

.capnhattaikhoan-frame624739 {
  top: 342px;
  left: 24px;
  width: 560px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
}

.capnhattaikhoan-warningtext3 {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 8px;
}

.capnhattaikhoan-text20 {
  color: var(--dl-color-gray-gray500);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 4px;
  margin-bottom: 0;
}

.capnhattaikhoan-vector05 {
  width: 6px;
  height: 6px;
  position: relative;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}

.capnhattaikhoan-dropdown {
  width: 560px;
  height: 44px;
  display: flex;
  padding: 10px 12px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(212, 212, 215, 1);
  border-style: solid;
  border-width: 1.5px;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  justify-content: space-between;
  background-color: var(--dl-color-default-white);
}

.capnhattaikhoan-text22 {
  color: var(--dl-color-gray-gray400text);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  width: 100%;
}

.capnhattaikhoan-frame624734 {
  top: 342px;
  left: 608px;
  width: 560px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
}

.capnhattaikhoan-warningtext4 {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 8px;
}

.capnhattaikhoan-text24 {
  color: var(--dl-color-gray-gray500);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 4px;
  margin-bottom: 0;
}

.capnhattaikhoan-vector06 {
  width: 6px;
  height: 6px;
  position: relative;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}

.capnhattaikhoan-frame624735 {
  top: 66px;
  left: 608px;
  width: 560px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
}

.capnhattaikhoan-warningtext5 {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 8px;
}

.capnhattaikhoan-text28 {
  color: var(--dl-color-gray-gray500);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 4px;
  margin-bottom: 0;
}

.capnhattaikhoan-vector07 {
  width: 6px;
  height: 6px;
  position: relative;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}

.capnhattaikhoan-input3 {
  color: rgba(83, 82, 97, 1);
  width: 560px;
  height: 44px;
  display: flex;
  padding: 10px 270px 10px 12px;
  overflow: hidden;
  position: relative;
  font-size: 16px;
  box-sizing: border-box;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  font-family: Nunito;
  font-weight: 400;
  border-color: rgba(212, 212, 215, 1);
  border-style: solid;
  border-width: 1.5px;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-white);
}

.capnhattaikhoan-frame624745 {
  top: 250px;
  left: 608px;
  width: 560px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
}

.capnhattaikhoan-warningtext6 {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 8px;
}

.capnhattaikhoan-text30 {
  color: var(--dl-color-gray-gray500);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 4px;
  margin-bottom: 0;
}

.capnhattaikhoan-vector08 {
  width: 6px;
  height: 6px;
  position: relative;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}

.capnhattaikhoan-input4 {
  width: 560px;
  height: 44px;
  display: flex;
  padding: 10px 16px 10px 12px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(212, 212, 215, 1);
  border-style: solid;
  border-width: 1.5px;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  justify-content: space-between;
  background-color: var(--dl-color-default-white);
}

.capnhattaikhoan-text32 {
  color: var(--dl-color-gray-gray400text);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
}

.capnhattaikhoan-frame624738 {
  top: 158px;
  left: 608px;
  width: 560px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
}

.capnhattaikhoan-warningtext7 {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 8px;
}

.capnhattaikhoan-text34 {
  color: var(--dl-color-gray-gray500);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 4px;
  margin-bottom: 0;
}

.capnhattaikhoan-vector09 {
  width: 6px;
  height: 6px;
  position: relative;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}

.capnhattaikhoan-input5 {
  width: 560px;
  height: 44px;
  display: flex;
  padding: 10px 16px 10px 12px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(212, 212, 215, 1);
  border-style: solid;
  border-width: 1.5px;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  justify-content: space-between;
  background-color: var(--dl-color-default-white);
}

.capnhattaikhoan-text36 {
  color: var(--dl-color-gray-gray400text);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
}

.capnhattaikhoan-frame624744 {
  top: 434px;
  left: 24px;
  width: 232px;
  height: 24px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}

.capnhattaikhoan-text38 {
  top: 2px;
  left: 10px;
  color: var(--dl-color-gray-gray300);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 21px;
  margin-right: 0;
  margin-bottom: 0;
}

.capnhattaikhoan-vector10 {
  top: 9px;
  left: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}

.capnhattaikhoan-frame624737 {
  top: 680px;
  left: 480px;
  width: 326px;
  height: 48px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}

.capnhattaikhoan-button3 {
  top: 0px;
  left: 179px;
  width: 147px;
  height: 48px;
  display: flex;
  padding: 10px 24px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 6px 0px rgba(231, 233, 242, 1);
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  justify-content: center;
  background-color: var(--dl-color-orange-orange400);
}

.capnhattaikhoan-text40 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Nunito;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.capnhattaikhoan-button4 {
  top: 0px;
  left: 0px;
  width: 147px;
  height: 48px;
  display: flex;
  padding: 10px 24px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 6px 0px rgba(231, 233, 242, 1);
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 145, 56, 1);
  border-style: solid;
  border-width: 1.5px;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  justify-content: center;
  background-color: var(--dl-color-orange-orange50);
}

.capnhattaikhoan-text42 {
  color: var(--dl-color-orange-orange400);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Nunito;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.danhsachtaikhoan-container {
  min-height: 100vh;
}

.danhsachtaikhoan-vuesaxboldaddsquare {
  width: 28px;
  height: 28px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 4px;
}

.danhsachtaikhoan-vuesaxboldaddsquare1 {
  top: 0px;
  left: 0px;
  width: 28px;
  height: 28px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.danhsachtaikhoan-addsquare {
  top: 0px;
  left: 0px;
  width: 28px;
  height: 28px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.danhsachtaikhoan-vector {
  top: 2.3333334922790527px;
  left: 2.3333334922790527px;
  width: 23px;
  height: 23px;
  position: absolute;
  box-sizing: border-box;
}

.danhsachtaikhoan-text {
  color: var(--dl-color-orange-orange500);
  width: 72px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.danhsachtaikhoan-button {
  height: 40px;
  display: flex;
  padding: 10px 8px 10px 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0px;
  border-radius: 8px;
  margin-bottom: 0;
  justify-content: center;
}

.danhsachtaikhoan-text005 {
  color: var(--dl-color-grayblue-gray4placeholder);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 30px;
  margin-right: 0;
  margin-bottom: 0;
}

.danhsachtaikhoan-uangleright {
  width: 20px;
  height: 20px;
  position: relative;
  box-sizing: border-box;
  margin-right: 0px;
  margin-bottom: 0;
}

.danhsachtaikhoan-button1 {
  height: 40px;
  display: flex;
  padding: 10px 8px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  justify-content: center;
}

.danhsachtaikhoan-text007 {
  color: var(--dl-color-orange-orange500);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 30px;
  margin-right: 0;
  margin-bottom: 0;
}

.danhsachtaikhoan-frame271 {
  top: 28px;
  left: 948px;
  width: 32px;
  height: 32px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 32px;
  margin-bottom: 0;
  background-color: var(--dl-color-orange-orange50);
}

.danhsachtaikhoan-vuesaxboldnotification {
  top: 6px;
  left: 6px;
  width: 20px;
  height: 20px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}

.danhsachtaikhoan-vuesaxboldnotification1 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.danhsachtaikhoan-notification {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.danhsachtaikhoan-vector01 {
  top: 1.6666667461395264px;
  left: 3.592170238494873px;
  width: 13px;
  height: 14px;
  position: absolute;
  box-sizing: border-box;
}

.danhsachtaikhoan-vector02 {
  top: 16.66666603088379px;
  left: 7.65000057220459px;
  width: 5px;
  height: 2px;
  position: absolute;
  box-sizing: border-box;
}

.danhsachtaikhoan-text013 {
  top: 104px;
  left: 224px;
  color: var(--dl-color-orange-orange500);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 36px;
  margin-right: 0;
  margin-bottom: 0;
}

.danhsachtaikhoan-frame624691 {
  padding: 0 17px;
  position: relative;
  align-self: stretch;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0px;
  background-color: var(--dl-color-orange-orange400);
}

.danhsachtaikhoan-text015 {
  color: var(--dl-color-default-white);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 0;
}

.danhsachtaikhoan-text017 {
  color: var(--dl-color-gray-gray400text);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 21px;
  margin-right: 0;
  margin-bottom: 0;
}

.danhsachtaikhoan-group318 {
  top: 156px;
  left: 1036px;
  width: 300px;
  height: 72px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.danhsachtaikhoan-input {
  top: 28px;
  left: 0px;
  width: 300px;
  height: 44px;
  display: flex;
  padding: 10px 16px 10px 12px;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(212, 212, 215, 1);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 8px;
  justify-content: space-between;
  background-color: var(--dl-color-default-white);
}

.danhsachtaikhoan-text153 {
  color: var(--dl-color-gray-gray200placeholder);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.danhsachtaikhoan-fisearch {
  width: 20px;
  height: 20px;
  top: 40px;
  left: 260px;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
}

.danhsachtaikhoan-text155 {
  top: 1.8189894035458565e-12px;
  color: var(--dl-color-gray-gray500);
  width: 62px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
}

.danhsachtaikhoan-group319 {
  top: 156px;
  left: 224px;
  width: 300px;
  height: 72px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.danhsachtaikhoan-dropdown {
  top: 28px;
  left: 0px;
  width: 300px;
  height: 44px;
  display: flex;
  padding: 10px 12px;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(212, 212, 215, 1);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 8px;
  justify-content: space-between;
  background-color: var(--dl-color-default-white);
}

.danhsachtaikhoan-text180 {
  color: var(--dl-color-gray-gray400text);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
}

.danhsachtaikhoan-text182 {
  left: 0.96875px;
  color: var(--dl-color-gray-gray500);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
}

.themtaikhoan-container {
  min-height: 100vh;
}

.themtaikhoan-button {
  height: 40px;
  display: flex;
  padding: 10px 8px 10px 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0px;
  border-radius: 8px;
  margin-bottom: 0;
  justify-content: center;
}

.themtaikhoan-text {
  color: var(--dl-color-grayblue-gray4placeholder);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 30px;
  margin-right: 0;
  margin-bottom: 0;
}

.themtaikhoan-uangleright {
  width: 20px;
  height: 20px;
  position: relative;
  box-sizing: border-box;
  margin-right: 0px;
  margin-bottom: 0;
}

.themtaikhoan-button1 {
  height: 40px;
  display: flex;
  padding: 10px 8px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0px;
  border-radius: 8px;
  margin-bottom: 0;
  justify-content: center;
}

.themtaikhoan-text02 {
  color: var(--dl-color-grayblue-gray4placeholder);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 30px;
  margin-right: 0;
  margin-bottom: 0;
}

.themtaikhoan-uangleright1 {
  width: 20px;
  height: 20px;
  position: relative;
  box-sizing: border-box;
  margin-right: 0px;
  margin-bottom: 0;
}

.themtaikhoan-button2 {
  height: 40px;
  display: flex;
  padding: 10px 8px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  justify-content: center;
}

.themtaikhoan-text04 {
  color: var(--dl-color-orange-orange500);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 30px;
  margin-right: 0;
  margin-bottom: 0;
}

.themtaikhoan-vuesaxboldnotification {
  top: 6px;
  left: 6px;
  width: 20px;
  height: 20px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}

.themtaikhoan-vuesaxboldnotification1 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.themtaikhoan-notification {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.themtaikhoan-vector {
  top: 1.6666667461395264px;
  left: 3.592170238494873px;
  width: 13px;
  height: 14px;
  position: absolute;
  box-sizing: border-box;
}

.themtaikhoan-vector01 {
  top: 16.66666603088379px;
  left: 7.65000057220459px;
  width: 5px;
  height: 2px;
  position: absolute;
  box-sizing: border-box;
}

.themtaikhoan-text10 {
  top: 104px;
  left: 224px;
  color: var(--dl-color-orange-orange500);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 36px;
  margin-right: 0;
  margin-bottom: 0;
}

.themtaikhoan-frame624726 {
  top: 150px;
  left: 224px;
  width: 1192px;
  height: 500px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 2px 2px 8px 0px rgba(232, 239, 244, 0.800000011920929);
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 16px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-white);
}

.themtaikhoan-text12 {
  top: 16px;
  left: 24px;
  color: var(--dl-color-orange-orange500);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 30px;
  margin-right: 0;
  margin-bottom: 0;
}

.themtaikhoan-frame624731 {
  top: 66px;
  left: 24px;
  width: 560px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
}

.themtaikhoan-warningtext {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 8px;
}

.themtaikhoan-text14 {
  color: var(--dl-color-gray-gray500);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 4px;
  margin-bottom: 0;
}

.themtaikhoan-vector02 {
  width: 6px;
  height: 6px;
  position: relative;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}

.themtaikhoan-input {
  color: rgba(169, 169, 176, 1);
  width: 560px;
  height: 44px;
  display: flex;
  padding: 10px 270px 10px 12px;
  overflow: hidden;
  position: relative;
  font-size: 16px;
  box-sizing: border-box;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  font-family: Nunito;
  font-weight: 600;
  border-color: rgba(212, 212, 215, 1);
  border-style: solid;
  border-width: 1.5px;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-white);
}

.themtaikhoan-frame624732 {
  top: 158px;
  left: 24px;
  width: 560px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
}

.themtaikhoan-warningtext1 {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 8px;
}

.themtaikhoan-text16 {
  color: var(--dl-color-gray-gray500);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 4px;
  margin-bottom: 0;
}

.themtaikhoan-vector03 {
  width: 6px;
  height: 6px;
  position: relative;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}

.themtaikhoan-input1 {
  color: rgba(169, 169, 176, 1);
  width: 560px;
  height: 44px;
  display: flex;
  padding: 10px 270px 10px 12px;
  overflow: hidden;
  position: relative;
  font-size: 16px;
  box-sizing: border-box;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  font-family: Nunito;
  font-weight: 600;
  border-color: rgba(212, 212, 215, 1);
  border-style: solid;
  border-width: 1.5px;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-white);
}

.themtaikhoan-frame624733 {
  top: 250px;
  left: 24px;
  width: 560px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
}

.themtaikhoan-warningtext2 {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 8px;
}

.themtaikhoan-text18 {
  color: var(--dl-color-gray-gray500);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 4px;
  margin-bottom: 0;
}

.themtaikhoan-vector04 {
  width: 6px;
  height: 6px;
  position: relative;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}

.themtaikhoan-input2 {
  color: rgba(169, 169, 176, 1);
  width: 560px;
  height: 44px;
  display: flex;
  padding: 10px 270px 10px 12px;
  overflow: hidden;
  position: relative;
  font-size: 16px;
  box-sizing: border-box;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  font-family: Nunito;
  font-weight: 600;
  border-color: rgba(212, 212, 215, 1);
  border-style: solid;
  border-width: 1.5px;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-white);
}

.themtaikhoan-frame624739 {
  top: 342px;
  left: 24px;
  width: 560px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
}

.themtaikhoan-warningtext3 {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 8px;
}

.themtaikhoan-text20 {
  color: var(--dl-color-gray-gray500);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 4px;
  margin-bottom: 0;
}

.themtaikhoan-vector05 {
  width: 6px;
  height: 6px;
  position: relative;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}

.themtaikhoan-dropdown {
  width: 560px;
  height: 44px;
  display: flex;
  padding: 10px 12px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(212, 212, 215, 1);
  border-style: solid;
  border-width: 1.5px;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  justify-content: space-between;
  background-color: var(--dl-color-default-white);
}

.themtaikhoan-text22 {
  color: var(--dl-color-gray-gray200placeholder);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  width: 100%;
}

.themtaikhoan-frame624734 {
  top: 342px;
  left: 608px;
  width: 560px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
}

.themtaikhoan-warningtext4 {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 8px;
}

.themtaikhoan-text24 {
  color: var(--dl-color-gray-gray500);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 4px;
  margin-bottom: 0;
}

.themtaikhoan-vector06 {
  width: 6px;
  height: 6px;
  position: relative;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}

.themtaikhoan-frame624735 {
  top: 66px;
  left: 608px;
  width: 560px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
}

.themtaikhoan-warningtext5 {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 8px;
}

.themtaikhoan-text28 {
  color: var(--dl-color-gray-gray500);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 4px;
  margin-bottom: 0;
}

.themtaikhoan-vector07 {
  width: 6px;
  height: 6px;
  position: relative;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}

.themtaikhoan-input3 {
  color: rgba(169, 169, 176, 1);
  width: 560px;
  height: 44px;
  display: flex;
  padding: 10px 270px 10px 12px;
  overflow: hidden;
  position: relative;
  font-size: 16px;
  box-sizing: border-box;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  font-family: Nunito;
  font-weight: 600;
  border-color: rgba(212, 212, 215, 1);
  border-style: solid;
  border-width: 1.5px;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-white);
}

.themtaikhoan-frame624746 {
  top: 250px;
  left: 608px;
  width: 560px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
}

.themtaikhoan-warningtext6 {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 8px;
}

.themtaikhoan-text30 {
  color: var(--dl-color-gray-gray500);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 4px;
  margin-bottom: 0;
}

.themtaikhoan-vector08 {
  width: 6px;
  height: 6px;
  position: relative;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}

.themtaikhoan-frame624745 {
  top: 158px;
  left: 608px;
  width: 560px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
}

.themtaikhoan-warningtext7 {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 8px;
}

.themtaikhoan-text32 {
  color: var(--dl-color-gray-gray500);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 4px;
  margin-bottom: 0;
}

.themtaikhoan-vector09 {
  width: 6px;
  height: 6px;
  position: relative;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}

.themtaikhoan-frame624744 {
  top: 434px;
  left: 24px;
  width: 232px;
  height: 24px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}

.themtaikhoan-text34 {
  top: 2px;
  left: 10px;
  color: var(--dl-color-gray-gray300);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 21px;
  margin-right: 0;
  margin-bottom: 0;
}

.themtaikhoan-vector10 {
  top: 9px;
  left: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}

.themtaikhoan-frame624737 {
  top: 680px;
  left: 657px;
  width: 326px;
  height: 48px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}

.themtaikhoan-button3 {
  top: 0px;
  left: 179px;
  width: 147px;
  height: 48px;
  display: flex;
  padding: 10px 24px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 6px 0px rgba(231, 233, 242, 1);
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  justify-content: center;
  background-color: var(--dl-color-orange-orange400);
}

.themtaikhoan-text36 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Nunito;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.themtaikhoan-button4 {
  top: 0px;
  left: 0px;
  width: 147px;
  height: 48px;
  display: flex;
  padding: 10px 24px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 6px 0px rgba(231, 233, 242, 1);
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 145, 56, 1);
  border-style: solid;
  border-width: 1.5px;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  justify-content: center;
  background-color: var(--dl-color-orange-orange50);
}

.themtaikhoan-text38 {
  color: var(--dl-color-orange-orange400);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Nunito;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}