.capnhatvaitro-container {
  min-height: 100vh;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  margin-left: unset !important;
  margin-right: unset !important;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 5px;
  top: 2px;
  left: 0px;
  width: 20px;
  height: 20px;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: var(--dl-color-default-blue);
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */

/* On mouse-over, add a grey background color */

/* When the checkbox is checked, add a blue background */

/* Create the checkmark/indicator (hidden when not checked) */

/* Show the checkmark when checked */

/* Style the checkmark/indicator */


.capnhatvaitro-button {
  height: 40px;
  display: flex;
  padding: 10px 8px 10px 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0px;
  border-radius: 8px;
  margin-bottom: 0;
  justify-content: center;
}

.capnhatvaitro-text {
  color: var(--dl-color-grayblue-gray4placeholder);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 30px;
  margin-right: 0;
  margin-bottom: 0;
}

.capnhatvaitro-uangleright {
  width: 20px;
  height: 20px;
  position: relative;
  box-sizing: border-box;
  margin-right: 0px;
  margin-bottom: 0;
}

.capnhatvaitro-button1 {
  height: 40px;
  display: flex;
  padding: 10px 8px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0px;
  border-radius: 8px;
  margin-bottom: 0;
  justify-content: center;
}

.capnhatvaitro-text02 {
  color: var(--dl-color-grayblue-gray4placeholder);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 30px;
  margin-right: 0;
  margin-bottom: 0;
}

.capnhatvaitro-uangleright1 {
  width: 20px;
  height: 20px;
  position: relative;
  box-sizing: border-box;
  margin-right: 0px;
  margin-bottom: 0;
}

.capnhatvaitro-button2 {
  height: 40px;
  display: flex;
  padding: 10px 8px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  justify-content: center;
}

.capnhatvaitro-text04 {
  color: var(--dl-color-orange-orange500);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 30px;
  margin-right: 0;
  margin-bottom: 0;
}

.capnhatvaitro-frame271 {
  top: 28px;
  left: 948px;
  width: 32px;
  height: 32px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 32px;
  margin-bottom: 0;
  background-color: var(--dl-color-orange-orange50);
}

.capnhatvaitro-vuesaxboldnotification {
  top: 6px;
  left: 6px;
  width: 20px;
  height: 20px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}

.capnhatvaitro-vuesaxboldnotification1 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.capnhatvaitro-notification {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.capnhatvaitro-vector {
  top: 1.6666667461395264px;
  left: 3.592170238494873px;
  width: 13px;
  height: 14px;
  position: absolute;
  box-sizing: border-box;
}

.capnhatvaitro-vector01 {
  top: 16.66666603088379px;
  left: 7.65000057220459px;
  width: 5px;
  height: 2px;
  position: absolute;
  box-sizing: border-box;
}

.capnhatvaitro-text44 {
  top: 104px;
  left: 224px;
  color: var(--dl-color-orange-orange500);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 36px;
  margin-right: 0;
  margin-bottom: 0;
}

.quanlyvaitro-container {
  min-height: 100vh;
}


.quanlyvaitro-button {
  height: 40px;
  display: flex;
  padding: 10px 8px 10px 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0px;
  border-radius: 8px;
  margin-bottom: 0;
  justify-content: center;
}

.quanlyvaitro-text {
  color: var(--dl-color-grayblue-gray4placeholder);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 30px;
  margin-right: 0;
  margin-bottom: 0;
}

.quanlyvaitro-uangleright {
  width: 20px;
  height: 20px;
  position: relative;
  box-sizing: border-box;
  margin-right: 0px;
  margin-bottom: 0;
}

.quanlyvaitro-button1 {
  height: 40px;
  display: flex;
  padding: 10px 8px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  justify-content: center;
}

.quanlyvaitro-text02 {
  color: var(--dl-color-orange-orange500);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 30px;
  margin-right: 0;
  margin-bottom: 0;
}

.quanlyvaitro-frame271 {
  top: 28px;
  left: 948px;
  width: 32px;
  height: 32px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 32px;
  margin-bottom: 0;
  background-color: var(--dl-color-orange-orange50);
}

.quanlyvaitro-vuesaxboldnotification {
  top: 6px;
  left: 6px;
  width: 20px;
  height: 20px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}

.quanlyvaitro-vuesaxboldnotification1 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.quanlyvaitro-notification {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.quanlyvaitro-vector {
  top: 1.6666667461395264px;
  left: 3.592170238494873px;
  width: 13px;
  height: 14px;
  position: absolute;
  box-sizing: border-box;
}

.quanlyvaitro-vector01 {
  top: 16.66666603088379px;
  left: 7.65000057220459px;
  width: 5px;
  height: 2px;
  position: absolute;
  box-sizing: border-box;
}

.quanlyvaitro-frame624691 {
  font-weight: bold;
  padding: 0 17px;
  position: relative;
  align-self: stretch;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0px;
  background-color: var(--dl-color-orange-orange400);
}

.quanlyvaitro-text08 {
  color: var(--dl-color-default-white);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 0;
}

.quanlyvaitro-frame624710 {
  display: flex;
  padding: 0 17px;
  position: relative;
  align-self: stretch;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0px;
  background-color: var(--dl-color-default-white);
}

.quanlyvaitro-text10 {
  color: var(--dl-color-gray-gray400text);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 21px;
  margin-right: 0;
  margin-bottom: 0;
}

.quanlyvaitro-vuesaxboldaddsquare {
  width: 28px;
  height: 28px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 4px;
}

.quanlyvaitro-vuesaxboldaddsquare1 {
  top: 0px;
  left: 0px;
  width: 28px;
  height: 28px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.quanlyvaitro-addsquare {
  top: 0px;
  left: 0px;
  width: 28px;
  height: 28px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.quanlyvaitro-vector02 {
  top: 2.3333334922790527px;
  left: 2.3333334922790527px;
  width: 23px;
  height: 23px;
  position: absolute;
  box-sizing: border-box;
}

.quanlyvaitro-text56 {
  color: var(--dl-color-orange-orange500);
  width: 72px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Nunito;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.quanlyvaitro-group318 {
  top: 104px;
  left: 1000px;
  width: 250px;
  height: 72px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.quanlyvaitro-input {
  top: 28px;
  left: 0px;
  width: 300px;
  height: 44px;
  display: flex;
  padding: 10px 16px 10px 12px;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(212, 212, 215, 1);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 8px;
  justify-content: space-between;
  background-color: var(--dl-color-default-white);
}

.quanlyvaitro-text75 {
  color: var(--dl-color-gray-gray200placeholder);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Nunito;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.quanlyvaitro-fisearch {
  width: 20px;
  height: 20px;
  top: 40px;
  left: 260px;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
}

.quanlyvaitro-text77 {
  top: 1.8189894035458565e-12px;
  color: var(--dl-color-gray-gray500);
  width: 62px;
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 24px;
}

.quanlyvaitro-text79 {
  top: 104px;
  left: 224px;
  color: var(--dl-color-orange-orange500);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 36px;
  margin-right: 0;
  margin-bottom: 0;
}

.themvaitro-container {
  min-height: 100vh;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  margin-left: unset !important;
  margin-right: unset !important;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 5px;
  top: 2px;
  left: 0px;
  width: 20px !important;
  height: 20px;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: var(--dl-color-default-blue);
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */

/* On mouse-over, add a grey background color */

/* When the checkbox is checked, add a blue background */

/* Create the checkmark/indicator (hidden when not checked) */

/* Show the checkmark when checked */

/* Style the checkmark/indicator */


.themvaitro-button {
  height: 40px;
  display: flex;
  padding: 10px 8px 10px 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0px;
  border-radius: 8px;
  margin-bottom: 0;
  justify-content: center;
}

.themvaitro-text {
  color: var(--dl-color-grayblue-gray4placeholder);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 30px;
  margin-right: 0;
  margin-bottom: 0;
}

.themvaitro-uangleright {
  width: 20px;
  height: 20px;
  position: relative;
  box-sizing: border-box;
  margin-right: 0px;
  margin-bottom: 0;
}

.themvaitro-button1 {
  height: 40px;
  display: flex;
  padding: 10px 8px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0px;
  border-radius: 8px;
  margin-bottom: 0;
  justify-content: center;
}

.themvaitro-text02 {
  color: var(--dl-color-grayblue-gray4placeholder);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 30px;
  margin-right: 0;
  margin-bottom: 0;
}

.themvaitro-uangleright1 {
  width: 20px;
  height: 20px;
  position: relative;
  box-sizing: border-box;
  margin-right: 0px;
  margin-bottom: 0;
}

.themvaitro-button2 {
  height: 40px;
  display: flex;
  padding: 10px 8px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  justify-content: center;
}

.themvaitro-text04 {
  color: var(--dl-color-orange-orange500);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 30px;
  margin-right: 0;
  margin-bottom: 0;
}

.themvaitro-frame271 {
  top: 28px;
  left: 948px;
  width: 32px;
  height: 32px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 32px;
  margin-bottom: 0;
  background-color: var(--dl-color-orange-orange50);
}

.themvaitro-vuesaxboldnotification {
  top: 6px;
  left: 6px;
  width: 20px;
  height: 20px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}

.themvaitro-vuesaxboldnotification1 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.themvaitro-notification {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.themvaitro-vector {
  top: 1.6666667461395264px;
  left: 3.592170238494873px;
  width: 13px;
  height: 14px;
  position: absolute;
  box-sizing: border-box;
}

.themvaitro-vector01 {
  top: 16.66666603088379px;
  left: 7.65000057220459px;
  width: 5px;
  height: 2px;
  position: absolute;
  box-sizing: border-box;
}

.themvaitro-frame624738 {
  top: 172px;
  left: 224px;
  width: 1192px;
  height: 450px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 2px 2px 8px 0px rgba(232, 239, 244, 0.800000011920929);
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 16px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-white);
}

.themvaitro-text10 {
  top: 16px;
  left: 24px;
  color: var(--dl-color-orange-orange500);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 30px;
  margin-right: 0;
  margin-bottom: 0;
}

.themvaitro-frame624731 {
  top: 58px;
  left: 24px;
  width: 400px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
}

.themvaitro-warningtext {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 8px;
}

.themvaitro-text12 {
  color: var(--dl-color-gray-gray500);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 4px;
  margin-bottom: 0;
}

.themvaitro-vector02 {
  width: 6px;
  height: 6px;
  position: relative;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}

.themvaitro-input {
  color: rgba(169, 169, 176, 1);
  width: 560px;
  height: 44px;
  display: flex;
  padding: 10px 270px 10px 12px;
  overflow: hidden;
  position: relative;
  font-size: 16px;
  box-sizing: border-box;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  font-family: Nunito;
  font-weight: 400;
  border-color: rgba(212, 212, 215, 1);
  border-style: solid;
  border-width: 1.5px;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-white);
}

.themvaitro-frame624733 {
  top: 146px;
  left: 24px;
  width: 560px;
  height: 192px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
}

.themvaitro-warningtext01 {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 8px;
}

.themvaitro-text14 {
  color: var(--dl-color-gray-gray500);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 0;
}

.themvaitro-input1 {
  color: rgba(169, 169, 176, 1);
  width: 560px;
  height: 160px;
  display: flex;
  padding: 10px 270px 10px 12px;
  overflow: hidden;
  position: relative;
  font-size: 16px;
  box-sizing: border-box;
  text-align: left;
  align-items: flex-start;
  flex-shrink: 0;
  font-family: Nunito;
  font-weight: 400;
  border-color: rgba(212, 212, 215, 1);
  border-style: solid;
  border-width: 1.5px;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  background-color: var(--dl-color-default-white);
}

.themvaitro-frame624744 {
  top: 350px;
  left: 24px;
  width: 232px;
  height: 24px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}

.themvaitro-text16 {
  top: 2px;
  left: 10px;
  color: var(--dl-color-gray-gray300);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 21px;
  margin-right: 0;
  margin-bottom: 0;
}

.themvaitro-vector03 {
  top: 9px;
  left: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}

.themvaitro-frame625231 {
  overflow: scroll;
  top: 90px;
  left: 608px;
  width: 560px;
  height: 250px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  background-color: var(--dl-color-orange-orange50);
}

.themvaitro-group343 {
  top: 58px;
  left: 24px;
  width: 100%;
  height: 24px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.themvaitro-group337 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 24px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.themvaitro-warningtext02 {
  top: 0px;
  left: 28px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}

.themvaitro-text22 {
  color: var(--dl-color-gray-gray400text);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 0;
}

.themvaitro-group344 {
  top: 94px;
  left: 24px;
  width: 119px;
  height: 24px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.themvaitro-warningtext04 {
  top: 0px;
  left: 28px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}

.themvaitro-text26 {
  color: var(--dl-color-gray-gray400text);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 0;
}

.themvaitro-warningtext10 {
  top: 58px;
  left: 608px;
  width: 176px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}

.themvaitro-text38 {
  color: var(--dl-color-gray-gray500);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 4px;
  margin-bottom: 0;
}

.themvaitro-vector04 {
  width: 6px;
  height: 6px;
  position: relative;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}

.themvaitro-frame624737 {
  top: 650px;
  left: 650px;
  width: 326px;
  height: 48px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}

.themvaitro-button3 {
  top: 0px;
  left: 179px;
  width: 147px;
  height: 48px;
  display: flex;
  padding: 10px 24px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 6px 0px rgba(231, 233, 242, 1);
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  justify-content: center;
  background-color: var(--dl-color-orange-orange400);
}

.themvaitro-text40 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Nunito;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.themvaitro-button4 {
  top: 0px;
  left: 0px;
  width: 147px;
  height: 48px;
  display: flex;
  padding: 10px 24px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 6px 0px rgba(231, 233, 242, 1);
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 145, 56, 1);
  border-style: solid;
  border-width: 1.5px;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
  justify-content: center;
  background-color: var(--dl-color-orange-orange50);
}

.themvaitro-text42 {
  color: var(--dl-color-orange-orange400);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Nunito;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.themvaitro-text44 {
  top: 104px;
  left: 224px;
  color: var(--dl-color-orange-orange500);
  height: auto;
  position: absolute;
  align-self: auto;
  text-align: left;
  line-height: 36px;
  margin-right: 0;
  margin-bottom: 0;
}