.qunmtkhu-container {
    min-height: 100vh;
  }
  .qunmtkhu-qunmtkhu {
    width: 100%;
    height: 810px;
    display: flex;
    overflow: hidden;
    position: relative;
    max-width: 1440px;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 16px;
    background-color: var(--dl-color-default-bg);
  }
  .qunmtkhu-rectangle496 {
    top: 0px;
    left: 592px;
    width: 848px;
    height: 810px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 0;
  }
  .qunmtkhu-frame {
    top: 153px;
    left: 635px;
    width: 711px;
    height: 560px;
    position: absolute;
    box-sizing: border-box;
    margin-right: 0;
    margin-bottom: 0;
  }
  .qunmtkhu-text {
    top: 320px;
    left: 209px;
    color: var(--dl-color-gray-gray500);
    width: 170px;
    height: auto;
    position: absolute;
    align-self: auto;
    text-align: left;
    line-height: 33px;
    font-weight: 900;
    font-size: 20px;
    margin-right: 0;
    margin-bottom: 0;
  }
  .qunmtkhu-group322 {
    top: 360px;
    left: 94px;
    width: 400px;
    height: 75px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .qunmtkhu-input {
    top: 31px;
    left: 0px;
    color: rgba(83, 82, 97, 1);
    width: 400px;
    height: 44px;
    display: flex;
    padding: 10px 270px 10px 12px;
    overflow: hidden;
    position: absolute;
    font-size: 18px;
    box-sizing: border-box;
    text-align: left;
    align-items: center;
    flex-shrink: 0;
    font-family: Nunito;
    font-weight: 300;
    border-color: rgba(212, 212, 215, 1);
    border-style: solid;
    border-width: 1.5px;
    border-radius: 8px;
    background-color: var(--dl-color-default-white);
  }
  .qunmtkhu-text2 {
    color: rgba(55, 71, 79, 1);
    height: auto;
    position: absolute;
    align-self: auto;
    text-align: left;
    line-height: 27px;
  }
  .qunmtkhu-button {
    top: 483px;
    left: 118px;
    width: 162px;
    height: 40px;
    display: flex;
    padding: 10px 24px;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 0px 6px 0px rgba(231, 233, 242, 1) ;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 0;
    border-color: rgba(255, 145, 56, 1);
    border-style: solid;
    border-width: 1px;
    margin-right: 0;
    border-radius: 8px;
    margin-bottom: 0;
    justify-content: center;
  }
  .qunmtkhu-text4 {
    color: var(--dl-color-orange-orange400);
    height: auto;
    align-self: auto;
    text-align: left;
    line-height: 24px;
    margin-right: 0;
    margin-bottom: 0;
  }
  .qunmtkhu-button1 {
    top: 483px;
    left: 304px;
    width: 162px;
    height: 40px;
    display: flex;
    padding: 10px 24px;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 0px 6px 0px rgba(231, 233, 242, 1) ;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0;
    border-radius: 8px;
    margin-bottom: 0;
    justify-content: center;
    background-color: var(--dl-color-orange-orange400);
  }
  .qunmtkhu-text6 {
    color: var(--dl-color-default-white);
    height: auto;
    align-self: auto;
    text-align: left;
    line-height: 24px;
    margin-right: 0;
    margin-bottom: 0;
  }
  .qunmtkhu-logoalta {
    top: 82px;
    left: 208px;
    width: 170px;
    height: 136px;
    display: flex;
    overflow: hidden;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
  }
  .qunmtkhu-group {
    top: 0px;
    left: 0.47922834753990173px;
    width: 169.52076721191406px;
    height: 135.95645141601562px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .qunmtkhu-group1 {
    top: 108.35587310791016px;
    left: 76.39915466308594px;
    width: 88.72127532958984px;
    height: 27.600494384765625px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .qunmtkhu-vector {
    top: 0px;
    left: 0px;
    width: 29px;
    height: 28px;
    position: absolute;
    box-sizing: border-box;
  }
  .qunmtkhu-vector1 {
    top: 3.3958933353424072px;
    left: 31.21227264404297px;
    width: 58px;
    height: 21px;
    position: absolute;
    box-sizing: border-box;
  }
  .qunmtkhu-group2 {
    top: 0px;
    left: 1.306998610496521px;
    width: 168.21372985839844px;
    height: 112.92700958251953px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .qunmtkhu-vector2 {
    top: 0px;
    left: 0px;
    width: 168px;
    height: 113px;
    position: absolute;
    box-sizing: border-box;
  }
  .qunmtkhu-vector3 {
    top: 34.522247314453125px;
    left: 64.9511489868164px;
    width: 86px;
    height: 39px;
    position: absolute;
    box-sizing: border-box;
  }
  .qunmtkhu-vector4 {
    top: 24.204946517944336px;
    left: 6.213029861450195px;
    width: 88px;
    height: 26px;
    position: absolute;
    box-sizing: border-box;
  }
  .qunmtkhu-group3 {
    top: 0px;
    left: 1.2488800287246704px;
    width: 168.27188110351562px;
    height: 112.92700958251953px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .qunmtkhu-vector5 {
    top: 24.203346252441406px;
    left: 6.256731033325195px;
    width: 88px;
    height: 24px;
    position: absolute;
    box-sizing: border-box;
  }
  .qunmtkhu-vector6 {
    top: 0px;
    left: 0px;
    width: 168px;
    height: 113px;
    position: absolute;
    box-sizing: border-box;
  }
  .qunmtkhu-vector7 {
    top: 113.40589141845703px;
    left: -0.00001968688411579933px;
    width: 75px;
    height: 14px;
    position: absolute;
    box-sizing: border-box;
  }
  .qunmtkhu-vector8 {
    top: 113.40589141845703px;
    left: -0.00001968688411579933px;
    width: 75px;
    height: 14px;
    position: absolute;
    box-sizing: border-box;
  }
  